/* sage/assets/styles/common/_variables.scss */

/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";
@import "~tiny-slider/src/tiny-slider.scss";

$theme-colors: (
  primary: rgb(255, 112, 3),
  danger: rgb(255, 65, 54)
);

$font-family-sans-serif: "Open Sans", Arial, sans-serif;

$white: rgb(255, 255, 255);
$off-white: rgb(250, 250, 250);
$black: rgb(0, 0, 0);
$gray: rgb(240, 240, 240);
$dark-gray: rgb(149, 149, 149);
$light-gray: rgb(131, 131, 131);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

.maxWidth {
  max-width: 1440px;
}
