body {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9em;
  line-height: 1.8em;

  &.single,
  &.template-custom,
  &.kontakt,
  &.blog,
  &.webseite,
  &.error404,
  &.page-sidebar {
    background-image: linear-gradient(to bottom, #f8f8f8 0, rgba(184, 222, 232, 0.1) 959px);
    background-color: #fff;

    &::after {
      background: no-repeat url("../images/bg-top.svg") 50% 50%;
      background-size: cover;
      background-position: 100% 100%;
      width: 100%;
      height: 800px;
      top: -15%;
      left: 0;
      position: absolute;
      z-index: -2;
      display: block;
      content: "";
    }
  }

  :focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }

  .wrap {
    transition: all 0.3s;
    overflow: hidden;
  }

  .overlay {
    z-index: -999;
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    will-change: opacity;
    background: #3c3442;
  }

  &.lock-scroll2 {
    overflow: hidden;
    position: fixed; /* scroll body to top */
    transition: opacity 0.4s ease-in-out;

    .overlay {
      opacity: 0.8;
      z-index: 999;
    }
  }

  &.overlay-show {
    .overlay {
      opacity: 0.8 !important;
      z-index: 991 !important;
    }

    .menu-menu-container,
    .navbar-toggler,
    #header {
      z-index: 999;
    }

    .wrap {
      filter: blur(10px);
    }
  }
}

h1 {
  font-size: 1.4em;
  font-weight: 700;
}

h2 {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.2em;
}

h1,
h2 {
  a {
    color: rgba(0, 0, 0, 0.66);
    transition: all 0.25s;

    &:hover {
      color: rgb(242, 105, 0);
      text-decoration: none;
    }
  }
}

.content {
  margin-top: 0;
}

.slick-list {
  padding: 15px 0 40px 0;
}

article {
  &:focus {
    outline: none;
  }

  .article-inner {
    &:focus {
      outline: none;
    }

    .author {
      font-size: 11px;
      color: #5a5454;
      margin-bottom: 5px;

      a {
        color: #5a5454;
        border-bottom: 1px solid rgba(242, 105, 0, 0.5);

        &:hover {
          border-bottom: 1px solid rgba(242, 105, 0, 1);
          text-decoration: none;
        }
      }
    }

    .user-image {
      display: none;
    }
  }
}

a.contact {
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}

.btn-primary {
  color: #fff;
  background-color: #ff7003;
  border: 2px solid #ff7003;
  padding: 10px 35px;
  border-radius: 8px;
  letter-spacing: 0.5px;
  font-size: 1em;
  border-color: #ff7003;
  margin: 10px;

  .svg-inline--fa {
    margin: 0 10px 0 0;
  }
}

.img-holder {
  position: relative;
  padding: 0;

  &::after {
    background: no-repeat url("../images/bg-2.svg") 50% 50%;
    background-size: 100% 100%;
    background-position: 100% 100%;
    width: 940px;
    height: 800px;
    bottom: -32%;
    left: -51%;
    position: absolute;
    z-index: -2;
    display: block;
    content: "";
  }
}

.alertcontent {
  font-size: 1.1em;
}

.alertimage {
  img {
    padding: 25px;
    width: 100%;
  }
}

.post-featured-image {
  height: 350px;
  margin: 50px 0;
  max-width: 1000px;

  img {
    background-position: center;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    margin: auto;
  }

  &.image-shadow {
    margin: 30px auto 75px auto;
    width: 100%;
    height: 400px;
    border-radius: 5px;
    display: block;
    position: relative;
    background-size: cover;

    &::after {
      transform: scale(0.95) translateY(36px) translateZ(-30px);
      filter: blur(20px);
      opacity: 0.9;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: inherit; // Neat huh! :) NO...AWESOME!!!
      background-size: cover;
      z-index: -1;
      transition: filter 0.3s ease;
    }
  }
}

.pageimage {
  -webkit-box-shadow: 0 13px 24px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
  box-shadow: 0 13px 24px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  img {
    width: 100%;
  }
}

.block {
  width: 100%;
  display: block;
  margin: 15px 0;
}

.inner-box {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  height: auto;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.25s;

  .outer-image {
    width: 150px;
    height: 150px;
    margin: 10px auto 30px auto;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    padding: 35px;

    img {
      width: 100%;
      height: auto;
    }
  }

  h2 {
    text-align: center;
  }

  &:hover {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
  }
}

address {
  color: #404040;
  text-decoration: none;
  font-size: 0.9em;
  border-radius: 8px;
  background: rgba(234, 234, 234, 0.5);
  padding: 15px 6px 15px 35px !important;
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  #header {
    display: block;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  section {
    &.banner {
      margin: 50px 0 100px 0;
      color: $black;
    }

    .section-description {
      font-size: 0.95em;
    }

    .h2 {
      padding: 0 0 5px 0;
      font-size: 1.5em;
      font-weight: 700;
      display: block;
    }

    .align-items-center {
      justify-content: center;
      display: flex;
    }

    &.banner3 {
      position: relative;
      margin: 150px 0;
      overflow: hidden;

      .section-head {
        margin-top: 35px;
      }

      .bg {
        left: -10%;
        position: absolute;
        right: 20%;
        top: 0;
        z-index: -1;
      }

      .img-holder {
        position: relative;

        &::after {
          background-size: 100% 100%;
          background-position: 100% 100%;
          width: 930px;
          height: 700px;
          top: 0%;
          left: -50%;
          position: absolute;
          z-index: -2;
          display: block;
          content: "";
        }
      }
    }
  }

  img {
    &.img-rounded {
      border-radius: 8px;
      -webkit-box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.17);
      box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.17);
      width: 75%;
      height: auto;
      text-align: center;
      display: block;
      margin: 0;
    }

    &.right {
      float: none;
      margin: 0 auto;
    }

    &.left {
      float: none;
      margin: 0 auto;
    }

    &.margin-top {
      margin: 50px auto 0 auto;
    }
  }

  .image {
    border-radius: 3px;
    -webkit-box-shadow: 0 13px 24px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 13px 24px 0 rgba(0, 0, 0, 0.2);
    height: 180px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;

    img {
      vertical-align: top;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      margin: 0 auto;
      object-fit: cover;
    }
  }

  .article-inner {
    margin: 0 auto;
    padding: 15px;
    border-radius: 6px;
    background-color: transparent;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    text-decoration: none;
    color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:hover {
      box-shadow: 0;
      background-color: #fff;
    }
  }

  time {
    display: none;
  }

  .author {
    font-size: 0.775em;
    line-height: 1.071428571428571;
    margin-bottom: 15px;
    color: #000;
  }

  h2.entry-title {
    font-size: 1.2em;
  }

  .entry-summary {
    font-size: 1em;
    line-height: 1.428571428571429;
    color: rgba(31, 37, 50, 0.7);
    overflow: hidden;
    letter-spacing: -0.032em;
  }
}

.readmore {
  font-weight: 600;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #header {
    display: block;
  }

  .wrap {
    .content {
      .container-fluid {
        max-width: 100%;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #header {
    display: block;
  }

  .content {
    margin-top: 0;
  }

  a.contact {
    display: block;
  }

  .btn-primary {
    color: #fff;
    padding: 10px 35px;
    width: 100%;
    letter-spacing: 0.5px;
    font-size: 1em;
    border-color: #ff7003;
    margin: 0 0 20px 0;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 15px;
  }

  section {
    &.banner {
      margin: 0;
      color: $black;
    }

    .section-description {
      font-size: 0.95em;
      color: #000;
    }

    .h2 {
      padding: 0 0 5px 0;
      font-size: 1.25em;
      text-align: center;
      font-weight: 700;
      display: block;
    }

    .align-items-center {
      justify-content: center;
      display: flex;
    }

    &.banner3 {
      position: relative;
      padding: 150px 0 100px 0;
      margin: 0;
      overflow: hidden;

      .bg {
        left: -10%;
        position: absolute;
        right: 20%;
        top: 0;
        z-index: -1;
      }

      .img-holder {
        padding: 0;

        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }

  .list-inline {
    padding: 0;
    margin: 0;
    color: $black;

    li {
      padding: 10px;
      border-radius: 8px;
      transition: all 0.3s;

      &:hover {
        box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.1);
        background: rgba($white, 0.7);
      }
    }

    .list-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
    }

    .list-content {
      width: 100%;
      height: auto;
      padding: 0 0 0 1em;
    }

    .list-image {
      display: flex;
    }

    .list-item-text {
      font-size: 0.95em;
    }

    h4 {
      font-size: 1.1em;
      font-weight: 600;
    }

    .svg-inline--fa {
      width: 70px;
      border: 1px solid rgba(238, 105, 0, 1);
      height: 70px;
      color: rgba(238, 105, 0, 1);
      padding: 20px;
      border-radius: 100%;
    }

    a {
      color: $black;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
  section {
    &.banner {
      margin: 50px 0 100px 0;
      color: $black;
    }

    .section-description {
      font-size: 1rem;
    }

    .h2 {
      padding: 0 0 5px 0;
      font-size: 1.5em;
      font-weight: 700;
      display: block;
    }

    .align-items-center {
      justify-content: center;
      display: flex;
    }

    &.banner3 {
      position: relative;
      margin: 250px 0;

      .bg {
        left: -10%;
        position: absolute;
        right: 20%;
        top: 0;
        z-index: -1;
      }
    }
  }

  img {
    &.img-rounded {
      border-radius: 8px;
      -webkit-box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.17);
      box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.17);
      width: 85%;
      height: auto;
      margin: 0;
    }

    &.right {
      float: right;
    }

    &.left {
      float: left;
    }

    &.margin-top {
      margin: 50px 0 0 0;
    }
  }

  .list-inline {
    padding: 20px 0 0 0;
    margin: 0;
    color: $black;

    li {
      padding: 1em;
      border-radius: 8px;
      transition: all 0.3s;

      &:hover {
        box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.1);
        background: rgba($white, 0.7);
      }
    }

    .list-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
    }

    .list-content {
      width: 100%;
      height: auto;
      padding: 0 0 0 2em;
    }

    .list-image {
      display: flex;
    }

    .list-item-text {
      font-size: 0.9em;
    }

    h4 {
      font-size: 1.1em;
      font-weight: 600;
    }

    .svg-inline--fa {
      width: 70px;
      border: 1px solid rgba(238, 105, 0, 1);
      height: 70px;
      color: rgba(238, 105, 0, 1);
      padding: 20px;
      border-radius: 100%;
    }

    a {
      color: $black;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .col-sm-12 {
    order: 1;
  }

  .article-inner {
    min-width: 299px;
    max-width: 299px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 6px;
    background-color: transparent;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    text-decoration: none;
    color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:hover {
      box-shadow: 0;
      background-color: #fff;
    }
  }

  time {
    display: none;
  }

  .author {
    font-size: 0.875em;
    line-height: 1.071428571428571;
    margin-bottom: 22px;
    color: #000;
  }

  h2.entry-title {
    font-size: 1.2em;
  }

  .entry-summary {
    font-size: 1em;
    padding-top: 10px;
    line-height: 1.428571428571429;
    color: rgba(31, 37, 50, 0.7);
    overflow: hidden;
    letter-spacing: -0.032em;
  }

  .image {
    border-radius: 3px;
    -webkit-box-shadow: 0 13px 24px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 13px 24px 0 rgba(0, 0, 0, 0.2);
    height: 127px;
    margin-bottom: 30px;

    img {
      vertical-align: top;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}
