body {
  &.home {
    background-image: linear-gradient(to bottom, #f8f8f8 0, rgba(184, 222, 232, 0.1) 959px);
    background-color: #fff;

    &::after {
      background: no-repeat url("../images/bg.svg") 50% 50%;
      background-size: cover;
      background-position: 100% 100%;
      width: 100%;
      height: 800px;
      top: -15%;
      left: 0;
      position: absolute;
      z-index: -2;
      display: block;
      content: "";
    }

    .wrap {
      .content {
        main.main {
          section {
            &.top-banner {
              margin-top: 10px;

              .container-fluid {
                .d-flex {
                  .my-flex-item {
                    .content-box {
                      background: #fff;
                      padding: 15px;
                      border-radius: 8px;
                      width: 100%;

                      a.contact {
                        display: block;

                        button.btn {
                          &.btn-primary {
                            margin: 10px 0;
                            width: 100%;
                          }
                        }
                      }

                      h2.title {
                        font-size: 1.2em;
                        color: rgba(0, 0, 0, 0.7);
                        padding-left: 10px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #d5ebf1;
                      }

                      .multiple-items-top {
                        .slick-list {
                          padding: 0;

                          .slick-track {
                            article {
                              .article-inner {
                                .entry-summary {
                                  font-size: 1em;
                                }
                              }
                            }
                          }
                        }

                        button {
                          &.next {
                            right: -25px;
                            left: auto;
                            border: none;
                            top: 45%;
                            background: #fff;

                            :hover {
                              background: #f26900;
                            }
                          }

                          &.prev {
                            left: -25px;
                            border: none;
                            top: 45%;
                            background: #fff;

                            &:hover {
                              background: #f26900;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            &.middle-banner {
              margin-top: 25px;

              .container-fluid {
                .d-flex {
                  .my-flex-item {
                    .content-box {
                      background: #fff;
                      padding: 15px;
                      border-radius: 8px;
                      width: 100%;

                      a.contact {
                        display: block;

                        button.btn {
                          &.btn-primary {
                            margin: 10px 0;
                            width: 100%;
                          }
                        }
                      }

                      h2.title {
                        font-size: 1.2em;
                        color: rgba(0, 0, 0, 0.7);
                        padding-left: 10px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #d5ebf1;
                      }

                      ul {
                        &.product-slider-frontpage {
                          padding: 15px 15px 0 15px;

                          .slick-list {
                            padding: 5px 15px 5px 15px;

                            .slick-track {
                              li {
                                &.product-item {
                                  width: 20%;
                                  height: auto;
                                  background: transparent;
                                  border: none;
                                  -webkit-box-shadow: none;
                                  box-shadow: none;

                                  .product-inner {
                                    border-radius: 4px;
                                    margin: 0 15px;
                                    padding: 15px;
                                    background: #fff;
                                    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
                                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
                                    -webkit-transition: all 0.25s;
                                    -o-transition: all 0.25s;
                                    transition: all 0.25s;

                                    a {
                                      img {
                                        margin-bottom: 10px;
                                        max-width: 100%;
                                        height: auto;
                                      }

                                      h3 {
                                        text-align: left;
                                        text-overflow: ellipsis;
                                        font-size: 1.1em;
                                        text-transform: inherit;
                                        color: rgba(0, 0, 0, 0.8);
                                        height: 19px;
                                        margin: 0 0 10px 0;
                                        overflow: hidden;
                                        white-space: nowrap;
                                      }

                                      &.button.product_type_external {
                                        display: none;
                                      }

                                      &.button.add_to_cart_button {
                                        display: none;
                                      }

                                      span {
                                        &.price {
                                          margin-bottom: 5px;

                                          del {
                                            opacity: 1;
                                            padding: 3px 9px 0 0;
                                            display: block;
                                            font-size: 0.9em;
                                            float: left;

                                            span.woocommerce-Price-amount.amount {
                                              position: relative;

                                              &::after {
                                                display: block;
                                                position: absolute;
                                                width: 100%;
                                                height: 0.1em;
                                                top: 50%;
                                                left: 0;
                                                content: "";
                                                z-index: 2;
                                                background: none;
                                                text-shadow: transparent;
                                                background-image: radial-gradient(#ff4136 70%, transparent 0);
                                                transform: rotate(-14deg) scaleX(1.2);
                                              }
                                            }
                                          }

                                          .woocommerce-Price-amount {
                                            font-size: 1.1em;
                                            white-space: nowrap;
                                            color: #1f1f32;
                                            font-weight: 700;
                                            display: inline-block;
                                            line-height: 1;
                                          }
                                        }
                                      }

                                      &:hover {
                                        text-decoration: none;
                                      }
                                    }

                                    &:hover {
                                      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

                                      a {
                                        h3.product-title {
                                          color: #ff7003;
                                          text-decoration: none;
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            &.logo-banner {
              margin-top: 20px;

              .container-fluid {
                .row {
                  .my-flex-item {
                    .content-box {
                      background: #fff;
                      padding: 15px;
                      border-radius: 8px;
                      width: 100%;

                      h2.title {
                        font-size: 1.2em;
                        color: rgba(0, 0, 0, 0.7);
                        text-align: center;
                        padding-left: 10px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #d5ebf1;
                      }

                      ul.logo-slider-frontpage {
                        padding: 15px 15px 0 15px;

                        .slick-list {
                          .slick-track {
                            li.logo-item {
                              height: auto;

                              .logo-inner {
                                display: block;
                                padding: 20px;

                                img.logo-img {
                                  margin: 0;
                                  float: none;
                                  padding: 20px;
                                  width: 100%;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
