.form-row {
  padding: 15px 0 0;
  margin: 0;
}

input,
select,
optgroup,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

input[type="checkbox"] {
  width: auto;
  position: absolute;
  margin: 7px 0 0 4px;

  &:checked {
    background: green;
  }
}

.wpcf7-response-output.wpcf7-mail-sent-ok {
  border: none;
  border-radius: 8px;
  background: #28a745;
  padding: 10px 15px;
  margin: 0 5px;
  color: #fff;
  height: 45px;
}

div.wpcf7 .ajax-loader {
  width: 16px;
  height: 16px;
  border: none;
  position: absolute;
  padding: 0;
  left: 30px;
  margin: 20px 0 0 4px;
  vertical-align: middle;
}

input[type="submit"] {
  background: #ff7003;
  padding: 10px 20px;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  height: 45px;
  width: 250px;
  border-radius: 8px;
  color: #fff;
  transition: all 0.25s;

  &:hover {
    background: #ff8d00;

    &:disabled {
      background: rgba(255, 112, 3, 0.6);
    }
  }
}

label {
  font-size: 0.85em;
  margin: 0;
  width: 100%;

  span.text {
    margin-bottom: 0;
    float: left;
    width: 100%;
    display: block;
  }
}

div.wpcf7-validation-errors {
  color: #fff;
  background: #ff0000b5;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 0 5px 0 0;
  font-size: 1em;
  border: none;
  font-weight: normal;
  display: block;
}

span.wpcf7-not-valid-tip {
  color: #fff;
  background: #ff0000b5;
  padding: 8px 15px;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 1em;
  border: none;
  font-weight: normal;
  display: block;

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(50%);
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ff4944;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
}

.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 0;
  padding-top: 0;
}

.acceptance-dsgvo {
  background: #f4f4f4;
  padding: 9px;
  width: 100%;
  border: 1px solid #d2d2d2;
  display: block;
  border-radius: 8px;
}

.mailtoui-modal {
  background-color: rgba(250, 250, 250, 0.5);
  color: #fff;
}

.mailtoui-modal-head {
  background-color: #21262c;
}

.mailtoui-modal-title {
  color: #fff;
}

.mailtoui-modal-close:focus,
.mailtoui-modal-close:hover {
  color: #fff;
}

.mailtoui-modal-body {
  background-color: #373b41;
}

.mailtoui-button-content,
.mailtoui-button-copy {
  background-color: #63676b;
  color: #fff;
}

.mailtoui-button-content:hover,
.mailtoui-button-content:focus,
.mailtoui-button-copy:hover,
.mailtoui-button-copy:focus {
  background-color: #d8dcdf;
  color: #333;
}

.mailtoui-button:focus .mailtoui-button-content {
  background-color: #d8dcdf;
  color: #333;
}

.mailtoui-button-copy-clicked,
.mailtoui-button-copy-clicked:hover,
.mailtoui-button-copy-clicked:focus {
  background-color: #1f9d55;
  color: #fff;
}

.mailtoui-email-address {
  background-color: #909295;
  color: #21262c;
}

/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.wpcf7-acceptance {
  display: block;

  .wpcf7-list-item {
    margin: 0;
    padding: 0;

    label {
      font-size: 0.95em;
      margin: 0;

      span.wpcf7-list-item-label {
        font-size: 1em;
        padding-left: 25px;
      }
    }
  }
}
