.google-map {
  width: 100%;
  height: 350px;
  opacity: 0.7;
  margin-top: -50px;
  border-radius: 8px;
  box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.17);
  margin-bottom: 50px;
  background: #f2f4f5;
}

.ct-ultimate-gdpr-cookie-popup-modern .ct-container {
  max-width: 500px !important;
  width: auto !important;
  margin: 0 auto !important;
  background: rgb(250, 250, 250) !important;
  border-radius: 8px !important;
  padding: 25px !important;
  box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.17) !important;
}

#ct-ultimate-gdpr-cookie-popup {
  background-color: transparent !important;
  color: rgba(0, 0, 0, 0.7) !important;
  bottom: 0 !important;
  font-weight: 500 !important;
  width: auto !important;
  border-radius: 0 !important;
  margin: 20px !important;
  padding: 0 !important;
  background-size: cover !important;
  background-position: 100% center !important;
  display: block;
}

#ct-ultimate-gdpr-cookie-accept {
  border-color: #fff !important;
  background-color: #ff7d27 !important;
  color: #fff !important;
  width: auto !important;
  padding: 15px 30px !important;
  border: none !important;
}

.kontakt .btn-primary {
  margin: 0 0 20px 0;
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}
*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .google-map {
    height: 300px;
    margin-top: -20px;
    margin-bottom: 20px;
  }
}

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
