.google-map {
  width: 100%;
  height: 350px;
  opacity: 0.7;
  margin-top: -50px;
  border-radius: 8px;
  box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.17);
  margin-bottom: 50px;
  background: #f2f4f5;
}

body.ct-ultimate-gdpr-cookie-bottomPanel-padding.popup-modern-style {
  padding-bottom: 0;
}

#ct-ultimate-gdpr-cookie-popup {
  background-color: transparent !important;
  color: rgba(0, 0, 0, 0.7) !important;
  bottom: 0 !important;
  font-weight: 500 !important;
  width: auto !important;
  border-radius: 0;
  margin: 20px;
  padding: 0;
  background-size: cover;
  background-position: 100% center;
  line-height: 20px;
  z-index: 999999;
  opacity: 1;
  text-align: left;
  position: fixed;
  font-size: 13px;
  display: none;

  .ct-container {
    max-width: 400px;
    width: auto;
    margin: 0 auto;
    background: rgb(250, 250, 250);
    border-radius: 8px;
    padding: 25px;
    box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.17);

    #ct-ultimate-gdpr-cookie-content {
      margin-bottom: 15px;
    }

    .ct-ultimate-gdpr-cookie-buttons {
      float: none;
      text-align: center;

      #ct-ultimate-gdpr-cookie-accept {
        border-color: #fff;
        background-color: #ff7d27;
        color: #fff;
        width: auto;
        padding: 15px 30px;
        border-radius: 8px;
        border: none;
        transition: all 0.3s;

        svg {
          padding: 0;
          margin-right: 5px;
          color: #fff;
          line-height: 0;
          font-size: 1em;
        }

        &:hover {
          background-color: #dc5f00;
        }
      }
    }
  }
}

.kontakt .btn-primary {
  margin: 0 0 20px 0;
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}
*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .google-map {
    height: 300px;
    margin-top: -20px;
    margin-bottom: 20px;
  }
}

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
