body {
  .festi-cart-products {
    max-width: 1140px !important;
    padding-top: 0 !important;
    position: fixed;
    z-index: 1001;
    display: block !important;
    visibility: hidden;
    right: 10px;
    left: 0;
    top: 112px;
    width: auto;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.3s;

    &.festi-show {
      top: 118px !important;
      display: block;
      visibility: visible !important;
      opacity: 1 !important;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
    }

    .festi-cart-products-content {
      padding: 15px;
      min-width: 370px;
      max-width: 370px;
      overflow: visible;
      margin-top: 0;
      right: 10px;
      position: absolute;
      z-index: 38 !important;
      font-size: 1em !important;
      font-weight: 500;
      background-color: #fff !important;
      border: none !important;
      border-radius: 8px !important;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;

      &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        right: 30px;
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-bottom-color: #fff;
        opacity: 1;
        -webkit-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        transition: opacity 0.2s;
      }

      &::after {
        position: absolute !important;
        content: "" !important;
        border: 13px solid !important;
        border-color: transparent transparent #fff !important;
        top: -20px !important;
        margin-left: 297px !important;
        z-index: 9;
      }

      .festi-cart-error-message {
        display: block;
      }

      table {
        &.festi-cart-list {
          width: 100%;
          display: block;
          max-height: 410px;
          overflow: auto;
          font-size: 0.9em;
        }

        tbody {
          tr {
            &.festi-cart-empty {
              font-size: 1em;
              margin: 0;
              display: inline-block;
              text-align: center;
              width: 100%;
            }

            &.festi-cart-item {
              background: transparent;
              border: none;
              border-bottom: 1px solid #e2e2e2;
              margin-top: 5px;
              border-radius: 8px;
              padding: 5px 0;
              display: block;
              transition: all 0.3s;

              &:first-child {
                margin-top: 0;
              }

              &:hover {
                background: #fff;
              }
            }

            td {
              &.festi-cart-empty {
                width: 100%;
                display: block;

                &::before {
                  width: 50px;
                  height: 60px;
                  background-position: 0 0;
                  content: "";
                  background-repeat: no-repeat;
                  display: block;
                  margin: 0 auto;
                  background-image: url("https://d1zczzapudl1mr.cloudfront.net/empty-cart-transparent.png");
                  position: relative;
                  float: none;
                  background-size: 50px;
                }
              }

              &.festi-cart-product-delete {
                position: relative;
                vertical-align: middle;
                width: 20px;

                a.festi-cart-remove-product {
                  font-size: 16px;
                  line-height: normal;
                  padding: 1px;
                  display: block;
                  text-align: center;
                  height: 25px;
                  width: 25px;
                  position: relative;
                  background: #fff;
                  left: 0;
                  margin-top: 0;
                  top: 0;
                  border: none;
                  border-radius: 100%;
                  color: rgba(0, 0, 0, 0.7);
                  transition: all 0.3s;

                  &:hover {
                    background: #fa635a;
                    text-decoration: none;
                    color: #fff;
                    border: none;
                  }
                }
              }

              &.festi-cart-product-img {
                float: none;
                padding: 0 0 0 10px;

                a.festi-cart-img {
                  img {
                    max-width: 40px;
                    width: 100%;
                    min-width: 40px;
                    display: block;
                    padding: 0;
                    height: auto;
                    border: 1px solid #d2d2d2;
                    border-radius: 8px;
                  }
                }
              }

              &.festi-cart-product-title {
                text-align: left;
                padding: 0 10px 0 10px;
                vertical-align: middle;
                float: none;

                a.festi-cart-title {
                  color: rgba(0, 0, 0, 0.7);
                  float: none;
                  font-size: 1em;
                  line-height: 1em;
                  display: block;
                  margin-bottom: 0;
                  font-weight: 600;
                  padding-right: 0;
                  transition: all 0.3s;

                  &:hover {
                    text-decoration: none;
                    color: #ff7003;
                  }
                }

                br {
                  display: none;
                }

                dl {
                  margin-bottom: 0;
                  font-size: 0.9em;

                  dt {
                    font-weight: 400;
                    line-height: 1em;
                    font-size: 0.95em;
                  }

                  dd {
                    margin-bottom: 0;

                    p {
                      margin-bottom: 0;
                    }
                  }
                }

                .festi-cart-inner-wrap {
                  font-weight: 600;
                  margin-top: 0;
                  font-size: 1em;
                  float: left;
                  color: rgba(0, 0, 0, 0.7);
                  margin-bottom: 0;

                  p {
                    float: left;
                    align-self: center;
                    width: 15px;
                    margin: 0;
                    display: block;
                    text-align: center;
                    font-weight: 400;
                  }

                  span {
                    &.festi-cart-product-count {
                      float: left;
                    }

                    &.festi-cart-product-price {
                      float: left;

                      .woocommerce-Price-amount.amount {
                        font-weight: 500;
                      }
                    }
                  }
                }

                .ywcp_cart_component_name {
                  a.festi-cart-title {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }

      .festi-cart-total.subtotal {
        text-align: center;
        margin: 10px 0 10px 0;
      }

      p.festi-cart-buttons {
        margin: 0;
        padding: 0;

        a {
          transition: all 0.3s;

          &.festi-cart-view-cart {
            display: inline-block !important;
            padding: 10px !important;
            height: 45px;
            text-align: center;
            border: 1px solid #fe7004;
            float: left;
            font-weight: 600;
            font-size: 1em;
            border-radius: 8px;
            width: 47% !important;
            margin: 0 7px 0 0 !important;
            background-color: transparent;
            color: #fe7004;

            &:hover {
              background-color: #fe7004;
              color: #fff;
              float: none !important;
              text-decoration: none;
              border: 1px solid #fe7004;
              margin: 0 7px 0 0 !important;
            }
          }

          &.festi-cart-checkout {
            display: inline-block !important;
            padding: 10px !important;
            height: 45px;
            text-align: center;
            border: none;
            font-weight: 600;
            float: right;
            font-size: 1em;
            border-radius: 8px;
            width: 48% !important;
            margin: 0 0 0 7px !important;
            background-color: #ff7003;
            color: #fff;

            &:hover {
              background-color: #72a700;
              color: #fff;
              text-decoration: none;
              margin: 0 0 0 7px !important;
            }
          }
        }
      }
    }
  }
}

#header {
  .navbar {
    .container-fluid {
      .inner-header {
        .icon-menu {
          .header {
            #hover {
              &.cart {
                a.festi-cart {
                  background-color: transparent !important;
                  border: 0 solid !important;
                  border: currentcolor;
                  border-color: #6f6f6f !important;
                  padding: 0 !important;
                  text-align: right !important;
                  z-index: 9999999 !important;
                  top: 0 !important;
                  overflow: hidden !important;
                  position: absolute !important;
                  text-indent: 0;
                  height: 58px !important;
                  width: 50px !important;
                  left: 5px;
                  right: 0;

                  &:hover {
                    text-decoration: none;
                  }

                  .festi-cart-content {
                    span {
                      &.festi-cart-text-before-quantity,
                      &.festi-cart-text-after-quantity,
                      &.festi-cart-text-before-total,
                      &.festi-cart-total,
                      &.festi-cart-text-after-total {
                        display: none;
                      }

                      &.festi-cart-quantity {
                        width: 100%;
                        padding: 1px 21px;
                        text-decoration: none;
                        font-size: 0.85em;
                        font-weight: 600;
                        display: block;
                        color: rgba(0, 0, 0, 0.7);
                        margin: 13px 0 0 0;

                        &:hover {
                          text-decoration: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
