.modal {
  .modal-dialog {
    .modal-content {
      font-size: 0.9em;
      border-radius: 8px;

      .modal-header {
        border: none;

        h2 {
          font-size: 1.3em;
          display: block;
          width: 100%;
          text-align: center;
          margin: 0;
        }

        button.close {
          position: absolute;
          top: 0;
          right: 10px;
          transition: all 0.3s;

          span {
            font-size: 2em;
            line-height: 100%;
          }
        }
      }

      .modal-body {
        form#login {
          svg {
            &.hidden {
              visibility: hidden;
              height: 0;
            }

            &.checkmark-animation {
              width: 27px;
              height: 27px;
              border-radius: 50%;
              display: block;
              stroke-width: 5;
              stroke: #60a74f;
              stroke-miterlimit: 10;
              position: absolute;
              top: 25px;
              left: 27px;
              margin: 0;
              box-shadow: inset 0 0 0 #fff;
              animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;

              circle {
                &.checkmark__circle {
                  stroke-dasharray: 166;
                  stroke-dashoffset: 166;
                  stroke-width: 2;
                  stroke-miterlimit: 10;
                  stroke: #60a74f;
                  fill: none;
                  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
                }
              }

              path {
                &.checkmark__check {
                  transform-origin: 50% 50%;
                  stroke-dasharray: 48;
                  stroke-dashoffset: 48;
                  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
                }

                @keyframes stroke {
                  100% {
                    stroke-dashoffset: 0;
                  }
                }

                @keyframes scale {
                  0%,
                  100% {
                    transform: none;
                  }

                  50% {
                    transform: scale3d(1.1, 1.1, 1);
                  }
                }

                @keyframes fill {
                  100% {
                    box-shadow: inset 0 0 0 30px #fff;
                  }
                }
              }
            }
          }

          p.status {
            height: 0;
            font-size: 0.95em;
            text-align: center;
            border-radius: 8px;
            padding: 0;
            position: relative;
            transition: all 0.3s;

            &.loading {
              padding: 13px 15px !important;
              height: 45px !important;
              color: rgba(0, 0, 0, 0.7) !important;
              background: #e4e4e4 !important;

              &::before {
                content: "" !important;
                box-sizing: border-box !important;
                position: absolute !important;
                top: 50% !important;
                left: 25px !important;
                width: 23px !important;
                height: 23px !important;
                margin-top: -12px !important;
                margin-left: -12px !important;
                border-radius: 50% !important;
                border: 5px solid #fff !important;
                border-top-color: #f66900 !important;
                animation: spinner 0.6s linear infinite !important;
              }
            }

            &.error {
              color: #fff;
              height: 45px;
              line-height: 20px;
              background: #fa635a;
              border-radius: 8px;
              padding: 13px 15px;

              &::before {
                content: "×";
                font-size: 18px;
                line-height: normal;
                padding: 0;
                height: 27px;
                width: 27px;
                position: absolute;
                margin-left: 0;
                background: transparent;
                vertical-align: middle;
                margin-top: 0;
                float: left;
                text-align: center;
                top: 9px;
                left: 11px;
                border: 1px solid $white;
                border-radius: 100%;
                color: $white;
                transition: all 0.3s;
              }
            }

            &.success {
              background: #60a74f;
              height: 45px;
              color: $white;
              line-height: 20px;
              border-radius: 8px;
              padding: 13px 15px;
            }
          }

          .input-1,
          .input-2,
          .input-3 {
            display: block;
            float: none;
            height: 40px;
            margin: 15px 0;
            padding: 0;
            width: 100%;

            label {
              &.username,
              &.password {
                display: block;
                float: left;
                border: 0;
                margin: 0;
                height: 45px;
                width: 45px;
                position: absolute;
                color: #ff7003;
                background: transparent;
                text-align: center;
                padding: 15px;
                font-size: 1em;
                z-index: 24;
              }
            }

            input {
              width: 100%;
              padding-left: 40px;
              display: block;
              border: 1px solid rgba(15, 15, 15, 0.35);
              height: 45px;
              border-radius: 8px;
              position: relative;
              margin-left: 0;
              z-index: 10;

              &.submit_button {
                border: none;
                font-weight: 600;
                border-radius: 8px;
                font-size: 1.1em;
              }
            }

            .lost-reg {
              float: right;
              width: 100%;
              margin: 0;
              padding: 0 15px 15px;
              text-align: right;
              display: inline-block;
            }

            .seperate {
              position: relative;
              margin: 15px 0;

              &::before {
                height: 1px;
                background-color: #e3e5e7;
                margin: 12px 0;
                content: "";
                display: block;
                position: absolute;
                top: 0;
                width: 100%;
              }

              span.hr-social {
                background-color: #fff;
                display: table;
                margin: 0 auto;
                font-size: 15px;
                position: relative;
                z-index: 1;
                padding: 0 15px;
              }
            }
          }

          .input-1 {
            margin-top: 0;
          }
        }
      }
    }
  }
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
