.woocommerce div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce #content div.product div.images {
  float: left;
  width: 40%;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #e9ecef;
  background-color: #fff;
}

.woocommerce-product-gallery {
  position: relative;
}

.woocommerce-product-gallery__wrapper {
  transition: all cubic-bezier(0.795, -0.035, 0, 1) 0.5s;
  margin: 0;
  padding: 0;
}

.woocommerce-product-gallery__wrapper .zoomImg {
  background-color: #fff;
  opacity: 0;
}

.woocommerce-product-gallery__image--placeholder {
  border: 1px solid #f2f2f2;
}

.woocommerce-product-gallery__image:nth-child(n+2) {
  width: 25%;
  display: inline-block;
}

.woocommerce-product-gallery__trigger {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 2em;
  z-index: 9;
  width: 36px;
  height: 36px;
  background: #fff;
  text-indent: -9999px;
  border-radius: 100%;
  box-sizing: content-box;

  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 100%;
    position: absolute;
    top: 9px;
    left: 9px;
    box-sizing: content-box;
  }

  &::after {
    content: "";
    display: block;
    width: 2px;
    height: 8px;
    background: #000;
    border-radius: 6px;
    position: absolute;
    top: 19px;
    left: 22px;
    transform: rotate(-45deg);
    box-sizing: content-box;
  }
}

.flex-control-thumbs {
  overflow: hidden;
  zoom: 1;
  margin: 0;
  padding: 0;

  li {
    width: 20% !important;
    text-align: center;
    float: left !important;
    height: 90px;
    display: block;
    border-left: 1px solid #e9ecef;
    border-top: 1px solid #e9ecef;
    clear: none !important;
    list-style: none;

    :nth-child(4n+1) {
      clear: none;
    }

    img {
      cursor: pointer;
      opacity: 0.5;
      margin: 0;

      &.flex-active,
      &:hover {
        opacity: 1;
      }
    }
  }
}

.woocommerce-product-gallery--columns-3 {
  .flex-control-thumbs li:nth-child(3n+1) {
    clear: left;
  }
}

.woocommerce-product-gallery--columns-4 {
  .flex-control-thumbs li:nth-child(4n+1) {
    clear: inherit;
    border-right: none;
  }
}

.woocommerce-product-gallery--columns-5 {
  .flex-control-thumbs li:nth-child(5n+1) {
    clear: left;
  }
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
