.woocommerce {
  div.product {
    .woocommerce-tabs {
      float: left;
      width: 100%;
      margin-top: 100px;

      ul.tabs {
        margin: 0;
        padding: 0;

        li {
          padding: 0 20px 1px 20px;
          border: none;
          background: transparent;

          a {
            font-weight: 500;
            color: rgba(0, 0, 0, 0.7);
            transition: all 0.25s;
            padding: 5px 15px;
            text-decoration: none;

            &:hover {
              border-bottom: 3px solid #f26900;
              text-decoration: none;
            }
          }

          &::before {
            display: none;
          }

          &::after {
            display: none;
          }

          &.active {
            a {
              font-weight: 500;
              border-bottom: 3px solid #f26900;
            }

            &::before {
              display: none;
            }

            &::after {
              display: none;
            }
          }
        }

        &::before {
          border-bottom: 1px solid #fff;
        }
      }

      .woocommerce-Tabs-panel {
        font-size: 0.9em;
        padding: 15px;
        background: #fff;
        line-height: 1.6em;

        h2 {
          font-size: 1.3rem;
        }
      }
    }
  }
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
