body.woocommerce-cart {
  .wrap {
    .content {
      margin-bottom: 50px;

      .container-fluid {
        main.main {
          .woocommerce {
            .row {
              .woocommerce-cart-form {
                .woocommerce-cart-form__contents {
                  background: #fff;
                  font-size: 1em;
                  border-radius: 8px;
                  border: none;
                  padding: 15px;

                  tbody {
                    tr {
                      &.woocommerce-cart-form__cart-item {
                        font-size: 1em;

                        td {
                          &.product-remove {
                            position: relative;
                            width: 35px;

                            a.remove {
                              border: 1px solid #dadada;
                              text-align: center;
                              display: block;
                              height: 32px;
                              width: 32px;
                              margin: 0;
                              line-height: normal;
                              padding-top: 0;
                              padding-left: 1px;
                              position: absolute;
                              left: 0;
                              top: 10px;
                              background: transparent;
                              font-size: 1.5em;
                              border-radius: 100%;
                              font-weight: 500;
                              transition: all 0.3s;
                              color: rgba(15, 15, 15, 0.85) !important;

                              &:hover {
                                background: #fa635a;
                                color: #fff !important;
                                border: 1px solid #fa635a;
                                text-decoration: none;
                              }
                            }
                          }

                          &.product-thumbnail {
                            padding: 10px;

                            a {
                              img {
                                width: 100px;
                                padding: 0;
                                border: 1px solid #d2d2d2;
                                height: auto;
                                border-radius: 8px;
                              }
                            }
                          }

                          &.product-subtotal {
                            font-size: 0.9em;
                          }
                        }
                      }

                      &.coupon {
                        td.actions {
                          padding: 0;

                          .coupon {
                            padding: 15px;

                            input {
                              width: 100%;
                              padding: 10px;
                            }
                          }

                          div.col-sm-6 {
                            .button {
                              width: 100%;
                              padding: 10px;
                              height: 45px;
                              border-radius: 8px;
                              font-weight: 400;
                              transition: all 0.3s;
                              font-size: 1em;

                              &:hover {
                                background-color: #fe7003;
                                text-decoration: none;
                                background-image: none;
                                color: #fff;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              .cart-collaterals {
                .cart_totals {
                  background: #fff;
                  border-radius: 8px;
                  width: 100%;
                  font-size: 1em;
                  padding: 15px;

                  table {
                    border: none;
                    font-size: 1em;
                  }

                  .wc-proceed-to-checkout {
                    a.checkout-button {
                      background: #ff7003;
                      padding: 13px;
                      height: 45px;
                      border-radius: 8px;
                      margin-bottom: 0;
                      transition: all 0.3s;

                      &:hover {
                        background: #72a700;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
*/

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  body.woocommerce-cart {
    .wrap {
      .content {
        .container-fluid {
          main.main {
            .woocommerce {
              .row {
                .woocommerce-cart-form {
                  .shop_table {
                    background: #fff;
                    border-radius: 8px;
                    border: none;
                    padding: 15px;

                    tbody {
                      tr {
                        td {
                          &.product-name,
                          &.product-price,
                          &.product-quantity,
                          &.product-subtotal {
                            width: 75%;
                            padding: 5px 0 5px 5px;
                            float: none;
                            text-align: right;
                            display: block;
                            margin-left: 25%;
                          }

                          &.product-thumbnail {
                            display: flex;
                            -webkit-box-flex: 1;
                            -ms-flex-positive: 1;
                            flex-grow: 1;
                            position: absolute;
                            padding: 30px 0;
                            margin: 0;
                            width: 20%;
                            float: left;
                            border-top: 0;

                            &::before {
                              display: none;
                            }
                          }

                          &.actions {
                            background: transparent;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
