.woocommerce-cart,
.single-product,
.woocommerce-checkout {
  .wrap {
    .content {
      .container-fluid {
        main.main {
          .cross-sells {
            float: left;
            margin: 30px 0 30px 0;
            background: #fff;
            padding: 20px 15px 20px;
            border-radius: 8px;
            width: 100%;

            h2 {
              font-size: 1.2em;
              text-align: center;
              text-transform: none;
            }

            ul {
              &.products {
                padding: 0;

                .slick-list {
                  padding: 5px 15px 5px 15px;

                  .slick-track {
                    li {
                      &.type-product {
                        width: 20%;
                        margin: 0;
                        padding: 0;
                        clear: none;
                        height: auto;
                        background: transparent;
                        border: none;
                        -webkit-box-shadow: none;
                        box-shadow: none;

                        .product-inner {
                          border-radius: 4px;
                          margin: 0 5px;
                          padding: 15px;
                          background: #fff;
                          -webkit-box-shadow: none;
                          box-shadow: none;
                          position: relative;
                          border: 1px solid #e8e8e8;
                          -webkit-transition: all 0.25s;
                          -o-transition: all 0.25s;
                          transition: all 0.25s;

                          a {
                            .onsale {
                              padding: 0 7px;
                              margin: 10px 23px 0 0;
                            }

                            .star-rating {
                              top: 7px;
                              left: 24px;
                            }

                            img {
                              margin: 0 auto 10px auto;
                              max-width: 100%;
                              height: auto;
                              border: 1px solid #efefef;
                              border-radius: 8px;
                            }

                            h2 {
                              text-align: left;
                              text-overflow: ellipsis;
                              font-size: 1em;
                              padding: 0;
                              text-transform: inherit;
                              color: rgba(0, 0, 0, 0.8);
                              height: auto;
                              margin: 0 0 15px;
                              overflow: hidden;
                              white-space: nowrap;
                            }

                            &.button.product_type_external {
                              display: none;
                            }

                            &.button.add_to_cart_button {
                              display: none;
                            }

                            span {
                              &.price {
                                margin-bottom: 5px;

                                del {
                                  opacity: 1;
                                  padding: 0 9px 0 0;
                                  display: block;
                                  font-size: 0.9em;
                                  float: left;

                                  span.woocommerce-Price-amount.amount {
                                    position: relative;

                                    &::after {
                                      display: block;
                                      position: absolute;
                                      width: 100%;
                                      height: 0.15em;
                                      top: 50%;
                                      left: 0;
                                      content: "";
                                      z-index: 2;
                                      background: none;
                                      text-shadow: transparent;
                                      background-image: radial-gradient(#ff4136 70%, transparent 0);
                                      transform: rotate(-14deg) scaleX(1.2);
                                    }
                                  }
                                }

                                .woocommerce-Price-amount {
                                  font-size: 1.1em;
                                  white-space: nowrap;
                                  color: #1f1f32;
                                  font-weight: 700;
                                  display: inline-block;
                                  line-height: 1;
                                }
                              }
                            }

                            &:hover {
                              text-decoration: none;
                            }
                          }

                          &:hover {
                            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

                            a {
                              h3.product-title {
                                color: #ff7003;
                                text-decoration: none;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
*/

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .woocommerce-cart,
  .single-product,
  .woocommerce-checkout {
    .wrap {
      .content {
        .container-fluid {
          main.main {
            section.related {
              margin-top: 20px;
              float: none;

              h3 {
                font-size: 1.2em;
                text-align: center;
                text-transform: none;
              }

              ul.products {
                padding: 0;

                button {
                  &.prev {
                    top: 50%;
                  }

                  &.next {
                    top: 50%;
                    left: unset;
                  }
                }

                .slick-list {
                  padding: 5px 15px 5px 15px;
                }

                li {
                  &.product-item {
                    width: 33%;
                  }

                  .product-inner {
                    margin: 0 10px;
                    padding: 10px;

                    a {
                      &.button.product_type_external {
                        display: none;
                      }

                      &.button.add_to_cart_button {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }

          #primary {
            #main {
              .product.type-product {
                section.related {
                  float: left;

                  h3 {
                    font-size: 1.2em;
                    text-align: center;
                    text-transform: none;
                  }

                  ul.products {
                    padding: 15px;

                    button {
                      &.prev {
                        top: 50%;
                        left: 0;
                      }

                      &.next {
                        top: 50%;
                        right: 0;
                        left: unset;
                      }
                    }

                    li {
                      &.product {
                        width: 20%;
                        margin: 0;
                        background: transparent;
                        clear: none;
                        border: none;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                      }

                      .slick-list {
                        padding: 0 0 25px 0;
                      }

                      .product-inner {
                        border-radius: 4px;
                        margin: 0 5px;
                        padding: 15px;
                        background: #fff;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        -webkit-transition: all 0.25s;
                        -o-transition: all 0.25s;
                        transition: all 0.25s;

                        &:hover {
                          box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.1);
                        }

                        a {
                          h3 {
                            text-align: left;
                            text-overflow: ellipsis;
                            font-size: 0.95em;
                            margin: 0 0 10px 0;
                            overflow: hidden;
                            white-space: nowrap;
                          }

                          &.button.product_type_external {
                            display: none;
                          }

                          &.button.add_to_cart_button {
                            display: none;
                          }

                          .onsale {
                            margin: 10px 25px;
                          }
                        }
                      }
                    }

                    ul.slick-dots {
                      left: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}
*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .woocommerce-cart,
  .woocommerce-checkout {
    .wrap {
      .content {
        .container-fluid {
          main.main {
            section.related {
              h3 {
                font-size: 1.2em;
                text-align: center;
                text-transform: none;
              }

              ul.products {
                padding: 15px 15px 0 15px;

                button {
                  &.prev {
                    top: 50%;
                    left: 0;
                  }

                  &.next {
                    top: 50%;
                    right: 0;
                    left: unset;
                  }
                }

                .slick-list {
                  padding: 5px 15px 5px 15px;
                }

                li {
                  &.product-item {
                    width: 33%;
                  }

                  .product-inner {
                    margin: 0 40px;
                    padding: 10px;

                    a {
                      &.button.product_type_external {
                        display: none;
                      }

                      &.button.add_to_cart_button {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
