
.the_champ_login_container {
  ul.the_champ_login_ul {
    margin: 0;
    float: left;
    width: 100%;
    display: block;

    li {
      background: none;
      float: left;
      width: 50% !important;
      padding: 0 10px 0 10px !important;
      margin: 0;
      clear: none;
      list-style-type: none;

      &:first-child {
        padding-left: 0 !important;
      }

      &:last-child {
        padding-right: 0 !important;
      }

      i {
        padding: 0 !important;
        margin: 0 !important;
        height: 45px !important;
        border-radius: 8px !important;
        width: 100% !important;
        float: left;
        transition: all 0.25s;
        cursor: pointer;
        border: none;

        &.theChampTwitterBackground {
          &::after {
            content: "Twitter";
            padding: 10px 35px;
            height: 45px;
            width: 100%;
            font-size: 1.1em;
            text-align: center;
            font-family: inherit;
            color: #fff;
            font-weight: 600;
            font-style: normal;
            display: block;
          }

          &::before {
            position: absolute;
            width: 45px;
            height: 45px;
            font-style: normal;
            font-weight: 400;
            border-radius: 3px 0 0 3px;
            background-color: rgba(0, 0, 0, 0.4);
            float: left;
            color: #fff;
            padding: 10px 15px;
          }

          &:hover {
            background: #1895e0;
            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
          }
        }

        .theChampTwitterLoginSvg {
          display: inline-block;
          width: 45px !important;
          position: relative !important;
          background-size: 35px !important;
          background-position: 50% !important;
          float: left !important;
          margin-left: 0 !important;
          text-align: center !important;
          vertical-align: middle !important;
        }

        &.theChampFacebookBackground {
          &::after {
            content: "Facebook";
            padding: 10px 35px;
            height: 45px;
            width: 100%;
            font-size: 1.1em;
            text-align: center;
            font-family: inherit;
            color: #fff;
            font-weight: 600;
            font-style: normal;
            display: block;
          }

          &::before {
            position: absolute;
            width: 45px;
            height: 45px;
            font-style: normal;
            font-weight: 400;
            border-radius: 3px 0 0 3px;
            background-color: rgba(0, 0, 0, 0.4);
            float: left;
            color: #fff;
            padding: 10px 15px;
          }

          &:hover {
            background: #29477d;
            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
          }
        }

        .theChampFacebookLoginSvg {
          display: inline-block;
          width: 45px !important;
          padding: 0 !important;
          position: relative !important;
          background-size: 35px !important;
          background-position: 50% !important;
          float: left !important;
          margin-left: 0 !important;
          text-align: center !important;
          vertical-align: middle !important;
        }
      }
    }
  }
}

body {
  &.woocommerce-account {
    .wrap {
      .content {
        margin: 0;

        .container-fluid {
          main.main {
            .page-header {
              h1 {
                font-size: 1.3em;
                display: none;
              }
            }

            .woocommerce {
              .woocommerce-notices-wrapper {
                padding: 0;

                .woocommerce-error {
                  margin: 15px 0 15px;
                }
              }

              .u-columns.col2-set {
                .tab-content {
                  margin: 15px 0 0 0;

                  .u-column1.col-1,
                  .u-column2.col-2 {
                    float: left;
                    padding-left: 0;
                    max-width: 50%;
                    width: 50%;

                    h2 {
                      padding-left: 10px;
                      font-size: 1.2em;
                    }

                    form {
                      .woocommerce-privacy-policy-text {
                        background: #f2f2f2;
                        padding: 15px;
                        font-size: 0.9em;
                        border-radius: 8px;
                        margin: 15px 0 0;

                        p {
                          margin: 0;
                          padding: 0;
                        }
                      }

                      &.woocommerce-form.woocommerce-form-login.login,
                      &.woocommerce-form.woocommerce-form-register.register {
                        border: 1px solid #e8e8e8;
                        padding: 20px;
                        margin: 15px 0;
                        text-align: left;
                        border-radius: 8px;
                        background: #fff;

                        p {
                          &.form-row {
                            padding: 3px 0;

                            button {
                              &.woocommerce-Button {
                                background-color: #ff7003;
                                color: #fff;
                                padding: 15px;
                                margin: 15px 0;
                                width: 100%;
                                border-radius: 8px;
                              }
                            }

                            .woocommerce-password-strength {
                              padding: 15px;
                              width: 100%;
                              margin: 15px 0 0;
                              border-radius: 8px;

                              &.short {
                                background-color: #fa635a;
                                border-color: #fa635a;
                                color: #fff;
                              }
                            }

                            small {
                              &.woocommerce-password-hint {
                                margin: 15px 0 0 0;
                                display: block;
                                border: 2px solid #fa635a;
                                background: #fff;
                                position: relative;
                                border-radius: 8px;
                                padding: 15px;

                                &::before {
                                  content: "";
                                  position: absolute;
                                  left: 50%;
                                  right: auto;
                                  -webkit-transform: translateX(-50%);
                                  -o-transform: translateX(-50%);
                                  transform: translateX(-50%);
                                  height: 0;
                                  top: -23px;
                                  width: 0;
                                  border: 11px solid transparent;
                                  border-bottom-color: #fa635a;
                                  opacity: 1;
                                  -webkit-transition: opacity 0.2s;
                                  -o-transition: opacity 0.2s;
                                  transition: opacity 0.2s;
                                }
                              }
                            }
                          }

                          &.woocommerce-LostPassword.lost_password {
                            font-size: 0.9em;
                          }

                          label {
                            line-height: 100%;
                            font-size: 0.8em;
                            padding: 0 0 4px 4px;
                          }
                        }

                        .wc-social-login {
                          a.button-social-login {
                            margin: 5px 10px 0 0;
                            border-radius: 8px;
                          }
                        }
                      }
                    }
                  }

                  .u-column2.col-2 {
                    padding-right: 0;
                    padding-left: 15px;
                    opacity: 1;
                    display: block;
                  }
                }
              }

              nav.woocommerce-MyAccount-navigation {
                background: #fff;
                padding: 15px;
                margin-bottom: 15px;
                border-radius: 8px;

                ul {
                  margin: 0;
                  padding: 0;

                  li {
                    padding: 7px 10px;
                    font-size: 1em;
                    margin: 0 0 3px 0;
                    border-radius: 8px;
                    list-style: none;
                    transition: all 0.3s;

                    a {
                      color: rgba(0, 0, 0, 0.7);
                      padding: 0 0 0 20px;
                      text-decoration: none;
                      font-size: 0.95em;
                      position: relative;
                      width: 100%;
                      display: block;

                      &:hover {
                        text-decoration: none;
                        color: #fff;
                      }

                      &::before {
                        content: "";
                        position: absolute;
                        bottom: 100%;
                        left: 5px;
                        top: 5px;
                        transform: rotate(90deg);
                        right: auto;
                        height: 0;
                        width: 0;
                        border: 6px solid transparent;
                        border-bottom-color: #ff7003;
                        opacity: 1;
                        -webkit-transition: opacity 0.2s;
                        -o-transition: opacity 0.2s;
                        transition: opacity 0.2s;
                      }
                    }

                    &.is-active {
                      background: #ff7003;
                      color: #fff;

                      a {
                        color: #fff;

                        &::before {
                          border: 6px solid transparent;
                          border-bottom-color: #fff;
                        }
                      }
                    }

                    &:hover {
                      background: #ff7003;
                      color: #fff;

                      a {
                        color: #fff;

                        &::before {
                          border: 6px solid transparent;
                          border-bottom-color: #fff;
                        }
                      }
                    }
                  }
                }
              }

              .woocommerce-MyAccount-content {
                background: $white;
                padding: 15px;
                border-radius: 8px;

                table.woocommerce-MyAccount-orders {
                  tbody {
                    tr.woocommerce-orders-table__row {
                      td.woocommerce-orders-table__cell {
                        .woocommerce-button.button {
                          white-space: nowrap;
                          border-radius: 8px;
                          text-align: center;
                          padding: 10px;
                          width: 100%;
                          color: #fff;
                          background: #fe7004;
                          transition: all 0.3s;

                          &:hover {
                            box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.1);
                          }
                        }
                      }
                    }
                  }
                }

                section.woocommerce-customer-details {
                  address {
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-bottom-width: 1px;
                    border-right-width: 1px;
                    border-radius: 8px;
                    background: transparent;
                  }

                  .woocommerce-columns {
                    .woocommerce-column {
                      max-width: none;

                      address {
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        border-bottom-width: 1px;
                        border-right-width: 1px;
                        border-radius: 8px;
                        background: transparent;
                      }
                    }
                  }
                }

                .woocommerce-info {
                  color: #fff;
                }

                .woocommerce-Addresses {
                  .u-column1.col-1.woocommerce-Address {
                    max-width: none;

                    header.woocommerce-Address-title {
                      h3 {
                        text-transform: none;
                        font-weight: 600;
                      }
                    }

                    address {
                      color: rgba(0, 0, 0, 0.7);
                      text-decoration: none;
                      font-size: 0.9em;
                      border: 1px solid #d2d2d2;
                      background: #fdfdfd;
                      padding: 15px !important;
                      min-height: 85px;
                    }
                  }

                  .u-column2.col-2.woocommerce-Address {
                    max-width: none;

                    header.woocommerce-Address-title {
                      h3 {
                        text-transform: none;
                        font-weight: 600;
                      }
                    }

                    address {
                      color: rgba(0, 0, 0, 0.7);
                      text-decoration: none;
                      font-size: 0.9em;
                      border: 1px solid #d2d2d2;
                      background: #fdfdfd;
                      padding: 15px !important;
                      min-height: 85px;
                    }
                  }
                }
              }

              form.woocommerce-ResetPassword.lost_reset_password {
                p.woocommerce-form-row.form-row {
                  width: 47%;

                  button.woocommerce-Button.button {
                    width: 100%;
                    height: 45px;
                    padding: 12px;
                    background: #ff7003;
                    transition: all 0.3s;
                    color: #fff;
                    border-radius: 8px;

                    &:hover {
                      box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.1);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}
*/

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  body {
    &.woocommerce-account {
      .wrap {
        .content {
          .container-fluid {
            main.main {
              .woocommerce {
                .u-columns.col2-set {
                  ul.nav.nav-tabs {
                    width: 100%;
                    float: left;

                    li.nav-item {
                      margin-bottom: 0;
                      width: 50%;
                      float: left;

                      a.nav-link {
                        border-radius: 8px;
                        margin: 0;
                        text-align: center;
                        position: relative;
                        border: none;
                        background-color: #ff7003;

                        &::before {
                          content: "";
                          position: absolute;
                          bottom: 100%;
                          top: 15px;
                          left: 15px;
                          right: auto;
                          height: 0;
                          transform: rotate(90deg);
                          width: 0;
                          border: 10px solid transparent;
                          border-bottom-color: #fff;
                          opacity: 1;
                          -webkit-transition: opacity 0.2s;
                          -o-transition: opacity 0.2s;
                          transition: opacity 0.2s;
                        }

                        &.active {
                          background-color: #fff;

                          &::before {
                            border-bottom-color: #ff7003;
                            background-color: #fff;
                            transform: rotate(180deg);
                            top: 20px;
                            left: 15px;
                          }
                        }
                      }
                    }
                  }

                  .tab-content {
                    margin-top: 0;
                    width: 100%;
                    float: left;

                    .u-column1.col-1,
                    .u-column2.col-2 {
                      padding: 0;
                      max-width: 100%;
                      width: 100%;

                      h2 {
                        padding-left: 10px;
                        font-size: 1.1em;
                      }

                      form {
                        .woocommerce-privacy-policy-text {
                          background: #f2f2f2;
                          padding: 15px;
                          font-size: 0.9em;
                          border-radius: 8px;
                          margin: 15px 0 0;

                          p {
                            margin: 0;
                            padding: 0;
                          }
                        }

                        &.woocommerce-form.woocommerce-form-login.login,
                        &.woocommerce-form.woocommerce-form-register.register {
                          border: 1px solid #e8e8e8;
                          padding: 20px;
                          margin: 15px 0;
                          text-align: left;
                          border-radius: 8px;
                          background: #fff;

                          p {
                            &.form-row {
                              padding: 3px 0;

                              button {
                                &.woocommerce-Button {
                                  background-color: #ff7003;
                                  color: #fff;
                                  padding: 15px;
                                  margin: 15px 0;
                                  width: 100%;
                                  border-radius: 8px;
                                }
                              }
                            }

                            &.woocommerce-LostPassword.lost_password {
                              font-size: 0.9em;
                            }

                            label {
                              line-height: 100%;
                              font-size: 0.8em;
                            }
                          }
                        }
                      }
                    }

                    .u-column2.col-2 {
                      opacity: 0;
                      display: none;

                      &.show {
                        display: block;
                        opacity: 1;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
