body.woocommerce-checkout {
  .wrap {
    .content {
      margin-bottom: 50px;

      .container-fluid {
        main.main {
          .woocommerce {
            .woocommerce-info {
              background: #fff;
              color: #4c4c4c;
              margin-bottom: 15px;

              &::before {
                color: #4c4c4c;
              }

              a {
                &.showlogin,
                &.showcoupon {
                  padding-left: 10px;
                }
              }
            }

            p.woocommerce-info {
              padding: 10px 10px 10px 45px;
              margin: 0 0 15px;
            }

            form {
              margin-top: 15px;
              margin-bottom: 30px;

              .form-row {
                button {
                  &.button {
                    background: #ff7003;
                    color: #fff;
                    border: none;
                    border-radius: 8px;
                    padding: 12px;
                    height: 45px;
                    width: 100%;
                    margin: 0;
                    transition: all 0.3s;

                    &:hover {
                      background-color: #ff7003;
                      color: #fff;
                      box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1);
                    }
                  }
                }
              }

              &.checkout_coupon,
              &.login {
                border: none;
                padding: 15px;
                margin: 0 0 20px 0;
                border-radius: 8px;
                background: #fff;
                text-align: left;

                p {
                  margin: 0;
                  padding: 10px 15px;

                  label.woocommerce-form-login__rememberme {
                    margin-bottom: 8px;
                    padding-left: 5px;

                    span {
                      margin-left: 5px;
                    }
                  }

                  &.form-row-first,
                  &.form-row-last {
                    width: 50%;
                    float: left;
                  }

                  &.lost_password {
                    width: 100%;
                  }
                }

                .the_champ_outer_login_container {
                  width: 50%;
                  display: block;
                  float: left;
                  background: transparent;
                  border-radius: 8px;
                  padding: 0 15px;
                  margin: 5px 0;
                }
              }

              &.checkout_coupon {
                p.form-row.form-row-first,
                p.form-row.form-row-last {
                  width: 50%;
                  padding: 15px;

                  button.button {
                    width: 100%;
                  }

                  input.input-text {
                    height: 45px;
                  }
                }
              }

              &.checkout {
                .woocommerce-NoticeGroup {
                  width: 100%;
                  padding: 0 15px;
                }

                #customer_details {
                  font-size: 0.95em;

                  .create-account {
                    label {
                      margin: 0;

                      &.checkbox {
                        margin: -5px 0 0 20px;
                        float: left;
                        position: absolute;
                      }
                    }

                    span.woocommerce-input-wrapper {
                      width: 100%;
                    }
                  }

                  .col-billing {
                    background: #fff;
                    border-radius: 8px;
                    padding: 15px;
                    border: 1px solid rgba(0, 0, 0, 0.1);

                    .woocommerce-billing-fields {
                      h3 {
                        margin: 0 0 15px 0;
                        text-transform: none;
                        font-weight: 600;
                        color: rgba(31, 31, 50, 0.8);
                        font-size: 1.2em;
                      }

                      .woocommerce-billing-fields__field-wrapper {
                        p.form-row {
                          padding: 0;

                          &.form-row-first {
                            padding-right: 10px;
                          }

                          &.form-row-last {
                            padding-left: 10px;
                          }

                          label {
                            padding: 0;
                            margin-bottom: 0;
                            font-size: 0.8em;
                          }

                          span {
                            width: 100%;
                            margin-bottom: 5px;
                          }
                        }
                      }
                    }
                  }

                  .col-shipping {
                    background: #fff;
                    border-radius: 8px;
                    margin-top: 25px;
                    padding: 15px;
                    border: 1px solid rgba(0, 0, 0, 0.1);

                    .woocommerce-shipping-fields {
                      h3 {
                        font-size: 1em;

                        &#ship-to-different-address {
                          font-size: 1em;

                          label.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
                            font-size: inherit;
                            width: 100%;
                            font-weight: 600;

                            input#ship-to-different-address-checkbox {
                              margin-right: 5px;
                            }
                          }
                        }
                      }

                      .shipping_address {
                        .woocommerce-shipping-fields__field-wrapper {
                          p.form-row {
                            padding: 0;

                            &.form-row-first {
                              padding-right: 10px;
                            }

                            &.form-row-last {
                              padding-left: 10px;
                            }

                            label {
                              padding: 0;
                              margin-bottom: 0;
                              font-size: 0.8em;
                            }

                            span {
                              width: 100%;
                              margin-bottom: 5px;
                            }
                          }
                        }
                      }
                    }

                    .woocommerce-additional-fields {
                      .woocommerce-additional-fields__field-wrapper {
                        p.form-row.notes {
                          padding: 0;

                          span {
                            width: 100%;

                            textarea.input-text {
                              height: 100px;
                            }
                          }
                        }
                      }
                    }
                  }
                }

                #order_review {
                  font-size: 0.95em;

                  #order_review_heading {
                    margin: 0 0 15px 0;
                    text-transform: none;
                    font-weight: 600;
                    color: rgba(31, 31, 50, 0.8);
                    font-size: 1.2em;
                  }

                  table.shop_table {
                    background: #fff;
                    border-radius: 8px;
                    font-size: 1em;
                    padding: 15px;

                    tbody {
                      tr {
                        &.ywcp_component_child_item {
                          font-size: 0.9em;
                          background: #f0f6f8;
                        }

                        td {
                          padding: 5px 10px;
                          text-align: right;
                          width: 50%;
                        }
                      }
                    }

                    tfoot {
                      tr {
                        th {
                          text-align: right;
                        }

                        td {
                          text-align: right;
                        }
                      }
                    }
                  }

                  #payment {
                    background: #fff;
                    border-radius: 8px;
                    border: 1px solid rgba(0, 0, 0, 0.1);

                    ul.wc_payment_methods {
                      border-bottom: none;

                      li {
                        position: relative;

                        &.wc_payment_method {
                          margin-top: 15px;
                          display: inline-block;
                          overflow: hidden;
                          border: 1px solid #ddd;
                          padding: 0;
                          border-radius: 8px;
                          width: 100%;
                          text-align: left;
                          line-height: 2;

                          &:first-child {
                            margin-top: 0;
                          }
                        }

                        input {
                          margin: 15px;
                          float: left;
                          position: relative;
                          top: 0;
                          width: auto;
                        }

                        label {
                          display: block;
                          font-size: 0.9em;
                          color: #0f0f0f;
                          font-weight: 400;
                          background: transparent;
                          margin-top: 0;
                          padding: 10px;
                          margin-bottom: 0;
                          border-radius: 3px;
                          vertical-align: middle;
                          text-transform: capitalize;

                          .about_paypal {
                            float: right;
                            right: 70px;
                            margin-top: 0;
                            position: absolute;
                            line-height: 25px;
                            font-size: 0.93em;
                          }

                          img {
                            margin-top: 0;
                            position: relative;
                            float: right;
                            right: 10px;
                            width: auto;
                            height: 25px;
                            padding-left: 3px;
                            vertical-align: middle;
                          }
                        }

                        .payment_box {
                          position: relative;
                          width: 100%;
                          background: #fff;
                          color: rgba(0, 0, 0, 0.7);
                          font-size: 1em;
                          line-height: 1.5;
                          float: left;
                          margin: 0;
                          padding: 0 15px 15px 15px;

                          p {
                            margin: 0;
                            padding: 0;
                          }

                          &::before {
                            display: none;
                          }

                          #stripe-payment-data {
                            .wc-credit-card-form.wc-payment-form {
                              .wc-stripe-elements-field.StripeElement {
                                border: 1px solid #d2d2d2;
                                margin: 5px 0;
                                padding: 10px;
                                background-color: #fbfbfb;
                                transition: all 0.3s;
                                border-radius: 8px;
                                outline: 0;

                                &.StripeElement--focus {
                                  border: 1px solid #fe730d;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }

                  .place-order {
                    padding: 0 15px 10px 15px;

                    button {
                      &.button {
                        background-color: #fe730d;
                        color: #fff;
                        padding: 10px;
                        transition: all 0.3s;
                        border-radius: 23px;
                        width: 100%;

                        &:hover {
                          background-color: #72a700;
                          border-color: #72a700;
                        }
                      }
                    }

                    a.wc-gateway-ppec-cancel {
                      background-color: #f2f2f2;
                      padding: 10px;
                      text-align: center;
                      transition: all 0.3s;
                      margin-top: 10px;
                      border-radius: 23px;
                      width: 100%;

                      &:hover {
                        background: #fe730d;
                        text-decoration: none;
                        color: #fff;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

*/
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  body.woocommerce-checkout {
    .wrap {
      .content {
        margin-bottom: 50px;

        .container-fluid {
          main.main {
            .woocommerce {
              .woocommerce-info {
                line-height: 1.8em;
                background: #fff;
                color: #4c4c4c;

                a {
                  padding-left: 0;
                  display: block;

                  &.showlogin,
                  &.showcoupon {
                    padding-left: 0;
                    display: block;
                  }
                }

                &::before {
                  color: #4c4c4c;
                }
              }

              form {
                margin-top: 15px;

                &.checkout_coupon,
                &.login {
                  border: none;
                  padding: 15px;
                  margin: 0 0 20px 0;
                  border-radius: 8px;
                  background: #fff;
                  text-align: left;

                  p {
                    margin: 0;
                    padding: 0 0 10px 0;

                    label.woocommerce-form-login__rememberme {
                      margin-bottom: 8px;
                      padding-left: 5px;

                      span {
                        margin-left: 5px;
                      }
                    }

                    &.form-row-first {
                      width: 100%;
                      float: left;
                      padding: 0;
                    }

                    &.form-row-last {
                      width: 100%;
                      float: left;
                      padding: 15px 0 15px;
                    }

                    &.lost_password {
                      width: 100%;
                    }
                  }

                  .the_champ_outer_login_container {
                    width: 100%;
                    display: block;
                    float: left;
                    background: #e3f1f5;
                    border-radius: 8px;
                    padding: 20px;
                    margin: 20px 0;
                  }
                }

                .form-row {
                  button {
                    &.button {
                      padding: 12px;
                      height: 45px;
                      width: 100%;
                    }
                  }
                }

                &.checkout_coupon {
                  p.form-row.form-row-first {
                    width: 100%;
                    padding: 0 0 15px 0;

                    button.button {
                      width: 100%;
                    }

                    input.input-text {
                      height: 45px;
                    }
                  }

                  p.form-row.form-row-last {
                    width: 100%;
                    padding: 0;
                  }
                }

                &.checkout {
                  .woocommerce-NoticeGroup {
                    width: 100%;
                    padding: 0 15px;
                  }

                  #customer_details {
                    font-size: 0.95em;
                    width: 100%;
                    flex: 0 0 100%;
                    max-width: 100%;

                    .create-account {
                      label {
                        margin: 0;

                        &.checkbox {
                          margin: -15px 0 0 0;
                          float: left;
                          position: absolute;
                        }
                      }

                      span.woocommerce-input-wrapper {
                        width: 100%;
                      }
                    }

                    .col-billing {
                      background: #fff;
                      border-radius: 8px;
                      padding: 15px;
                      border: 1px solid rgba(0, 0, 0, 0.1);

                      .woocommerce-billing-fields {
                        h3 {
                          margin: 0 0 15px 0;
                          text-transform: none;
                          font-weight: 600;
                          color: rgba(31, 31, 50, 0.8);
                          font-size: 1.2em;
                        }

                        .woocommerce-billing-fields__field-wrapper {
                          p.form-row {
                            padding: 0;

                            &.form-row-first {
                              padding-right: 10px;
                            }

                            &.form-row-last {
                              padding-left: 10px;
                            }

                            label {
                              padding: 0;
                              margin-bottom: 0;
                              font-size: 0.8em;
                            }

                            span {
                              width: 100%;
                              margin-bottom: 5px;
                            }
                          }
                        }
                      }
                    }

                    .col-shipping {
                      background: #fff;
                      border-radius: 8px;
                      margin-top: 25px;
                      padding: 15px;
                      border: 1px solid rgba(0, 0, 0, 0.1);

                      .woocommerce-shipping-fields {
                        .shipping_address {
                          .woocommerce-shipping-fields__field-wrapper {
                            p.form-row {
                              padding: 0;

                              &.form-row-first {
                                padding-right: 10px;
                              }

                              &.form-row-last {
                                padding-left: 10px;
                              }

                              label {
                                padding: 0;
                                margin-bottom: 0;
                                font-size: 0.8em;
                              }

                              span {
                                width: 100%;
                                margin-bottom: 5px;
                              }
                            }
                          }
                        }

                        h3 {
                          &#ship-to-different-address {
                            label.woocommerce-form__label-for-checkbox {
                              font-size: inherit;
                              width: 100%;
                              font-weight: 600;
                            }
                          }
                        }
                      }

                      .woocommerce-additional-fields {
                        .woocommerce-additional-fields__field-wrapper {
                          p.form-row.notes {
                            padding: 0;

                            span {
                              width: 100%;
                            }
                          }
                        }
                      }
                    }
                  }

                  #order_review {
                    font-size: 0.95em;
                    width: 100%;
                    flex: 0 0 100%;
                    max-width: 100%;

                    #order_review_heading {
                      margin: 15px 0 15px 0;
                      text-transform: none;
                      font-weight: 600;
                      color: rgba(31, 31, 50, 0.8);
                      font-size: 1.2em;
                    }

                    table.shop_table {
                      background: #fff;
                      border-radius: 8px;
                      padding: 15px;
                    }

                    #payment {
                      background: #fff;
                      border-radius: 8px;
                      border: 1px solid rgba(0, 0, 0, 0.1);

                      ul.wc_payment_methods {
                        border-bottom: none;

                        li {
                          position: relative;

                          &.wc_payment_method {
                            margin-top: 15px;
                            display: inline-block;
                            border: 1px solid #ddd;
                            padding: 0;
                            border-radius: 3px;
                            width: 100%;
                            text-align: left;
                            line-height: 2;

                            &:first-child {
                              margin-top: 0;
                            }
                          }

                          input {
                            margin: 15px;
                            float: left;
                            position: relative;
                            top: 0;
                            width: auto;
                          }

                          label {
                            display: block;
                            font-size: 0.9em;
                            color: #0f0f0f;
                            font-weight: 400;
                            background: #f2f2f2;
                            margin-top: 0;
                            padding: 10px;
                            margin-bottom: 0;
                            border-radius: 3px;
                            vertical-align: middle;
                            text-transform: capitalize;

                            .about_paypal {
                              float: right;
                              right: 70px;
                              margin-top: 0;
                              position: absolute;
                              line-height: 25px;
                              font-size: 0.93em;
                            }

                            img {
                              max-height: 45px;
                              margin-top: -3px;
                              position: absolute;
                              right: 6px;
                              width: auto;
                              margin-left: 15px;
                              vertical-align: middle;
                            }
                          }

                          .payment_box {
                            position: relative;
                            width: 100%;
                            background: #fff;
                            font-size: 1em;
                            line-height: 1.5;
                            float: left;
                            margin: 0;
                            padding: 15px;

                            &::before {
                              display: none;
                            }
                          }
                        }
                      }
                    }

                    .place-order {
                      button {
                        &.button {
                          background-color: #fe730d;
                          color: #fff;
                          font-weight: 700;
                          padding: 10px 15px;
                          width: 100%;
                          transition: all 0.3s;
                          border-radius: 23px;

                          &:hover {
                            background-color: #72a700;
                            border-color: #72a700;
                          }
                        }
                      }
                    }
                  }
                }
              }

              .woo-slg-social-container {
                .woo-slg-social-container {
                  .wooslg-privacy-policy-text {
                    p {
                      font-size: 0.9em;
                      margin-bottom: 10px;
                      margin-top: 0;
                      padding: 0;
                    }
                  }

                  .woo-slg-social-wrap {
                    .woo-slg-login-wrapper {
                      margin-right: 0;
                      float: left;
                      padding: 0;
                      margin-top: 10px;
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
