body.woocommerce.prdctfltr-shop {
  display: block;

  .wrap {
    float: left;
    width: 100%;
  }

  header {
    width: 100%;
    float: none;
    background: #fff;
    position: relative;
    border-radius: 8px;
    display: block;
    padding: 20px;

    .page-description {
      display: block;
      width: 100%;
    }
  }

  .prdctfltr_wc {
    position: relative;
    margin-bottom: 35px;
    clear: none;
    width: 100%;
    float: left;

    .prdctfltr_added_loader {
      &.pf_ajax_loading {
        i.prdctfltr-bars {
          &::before {
            border: 7px solid #ccc;
            border-top-color: #f66900;
          }
        }
      }
    }
  }

  .aside {
    width: 25%;
    float: left;
    margin: 25px 0 0 0;
    clear: none;

    .prdctfltr_sc {
      .prdctfltr_wc {
        padding: 0 25px 0 0;

        .prdctfltr_added_loader {
          display: none !important;
        }

        .prdctfltr_filter_title {
          display: none;
        }

        .prdctfltr_collector {
          margin-top: 0;
          width: 100%;
          position: absolute;
          display: inline-block !important;
          padding: 0 !important;
          margin-left: 280px;
        }

        form {
          margin: 0;

          .prdctfltr_filter_wrapper {
            .prdctfltr_filter_inner {
              .prdctfltr_filter {
                width: 100%;
                background: #fff;
                margin-bottom: 20px;
                padding: 15px;
                border-radius: 8px;

                .prdctfltr_add_scroll {
                  .prdctfltr_checkboxes {
                    label {
                      margin: 0;
                      padding: 0;
                    }

                    span.irs {
                      span.irs {
                        .irs-from,
                        .irs-to {
                          background: #f96900;
                        }
                      }

                      .irs-bar {
                        height: 10px;
                        top: 33px;
                        border-top: 1px solid #f96900;
                        border-bottom: 1px solid #f96900;
                        background: #f96900;
                        background: linear-gradient(to top, rgb(249, 105, 0) 0%, rgb(249, 105, 0) 100%);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .product-filter-top {
    width: 75%;
    float: right;
    margin: 25px 0 0 0;

    .prdctfltr_sc {
      margin: 0 !important;

      .prdctfltr_wc {
        width: 100%;
        float: right;
        margin: 0;
        padding: 0;

        form {
          &.prdctfltr_woocommerce_ordering {
            margin: 0 !important;
            width: 100%;
            float: left;
          }

          .prdctfltr_collector {
            float: left;
            width: 65%;
            margin: 0;
            padding: 0 !important;

            span {
              &.prdctfltr_title_selected {
                margin: 0 10px 0 0;
                padding: 10px 45px 10px 15px;
                border-radius: 4px;
                position: relative;
                background-color: rgb(255, 255, 255);

                a {
                  &.prdctfltr_title_remove {
                    margin-left: 0;
                    line-height: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 40px;
                    width: 35px;
                    background: rgba(249, 105, 0, 0.1);
                    text-align: center;
                    text-decoration: none;
                    border-radius: 8px;
                    transition: all 0.25s;

                    i {
                      display: block;
                      height: 40px;
                      width: 35px;

                      &::before {
                        font-size: 1.8em;
                        display: block;
                        text-align: center;
                        padding: 21px 0;
                      }

                      &.prdctfltr-delete {
                        display: block;
                      }
                    }

                    &:hover {
                      background: #f96900;
                      text-decoration: none;

                      i {
                        &::before {
                          color: #fff;
                        }
                      }

                      .prdctfltr_title_selected {
                        box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.15);
                      }
                    }
                  }
                }
              }
            }
          }

          .prdctfltr_filter_wrapper {
            margin-bottom: 0;
            width: 30%;
            float: right;

            .prdctfltr_filter_inner {
              .prdctfltr_filter {
                &.prdctfltr_cat {
                  display: none;
                }

                &.prdctfltr_attributes {
                  display: none;
                }

                span.prdctfltr_regular_title {
                  border-radius: 8px;
                }

                .prdctfltr_add_scroll {
                  .prdctfltr_checkboxes {
                    label {
                      margin: 0;
                      padding: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .product-list {
    width: 75%;
    float: left;
    clear: none;

    p.woocommerce-result-count {
      font-size: 0.8em;
      margin: 15px 0 15px;
    }
  }

  ul {
    &.products {
      width: 100%;
    }
  }
}

.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
  float: right;
  width: 100%;
  display: none;
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
*/

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  body.woocommerce.prdctfltr-shop {
    .overlay {
      z-index: -999;
      position: fixed;
      width: 100%;
      max-width: 100%;
      height: 100%;
      min-height: 100vh;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
      will-change: opacity;
      background: #3c3442;
    }

    &.lock-scroll2 {
      overflow: hidden;
      position: fixed; /* scroll body to top */
      transition: opacity 0.4s ease-in-out;

      .overlay {
        opacity: 0.8;
        z-index: 999;
      }
    }

    .wrap {
      float: left;
      width: 100%;

      .content {
        margin-top: 15px;
      }
    }

    header {
      width: 100%;
      float: none;
      background: #fff;
      position: relative;
      border-radius: 8px;
      display: block;
      padding: 20px;

      .page-description {
        display: block;
        width: 100%;
      }
    }

    .prdctfltr_wc {
      position: relative;
      margin-bottom: 35px;
      clear: none;
      width: 100%;
      float: left;
    }

    #mobile-filters {
      width: 50%;
      float: left;
      margin-top: 15px;

      button.filter-by {
        background: #fff;
        width: 100%;
        border-radius: 8px;
        border: 1px solid #ddd;
        padding: 11px;
      }

      &::after {
        content: "";
        background: no-repeat url("../images/filter.svg") 50% 50%;
        display: block;
        width: 20px;
        margin-top: -33px;
        margin-left: 15px;
        position: absolute;
        height: 20px;
      }
    }

    .aside {
      float: none;
      visibility: hidden;
      position: fixed;
      opacity: 0;
      margin: 0;
      background: #f8f8f9;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      top: 0;
      right: -435px;
      width: 50%;

      &.visible {
        visibility: visible;
        transform: translate(0);
        opacity: 1;
        z-index: 999;
        box-shadow: 5px 0 30px 0 hsla(0, 0%, 45%, 0.8);
        background: #f8f8f9;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        right: 0;
        margin: 0;
        top: 0;
        width: 50%;
        height: 100%;
      }

      .prdctfltr_sc {
        margin: 0 !important;

        .prdctfltr_wc {
          padding: 20px;

          .prdctfltr_added_loader {
            display: none !important;
          }

          .prdctfltr_filter_title {
            display: none;
          }

          .prdctfltr_collector {
            margin-top: 0;
            width: 100%;
            position: absolute;
            display: inline-block !important;
            padding: 0 !important;
            margin-left: 280px;
          }

          form {
            margin: 0;

            .prdctfltr_filter_wrapper {
              .prdctfltr_filter_inner {
                .prdctfltr_filter {
                  position: relative;
                  width: 100% !important;
                  padding: 15px !important;

                  .prdctfltr_add_scroll {
                    padding-bottom: 0 !important;

                    .prdctfltr_checkboxes {
                      label {
                        margin: 0;
                        padding: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .product-filter-top {
      width: 100%;
      position: relative;
      height: auto;
      margin: 0;
      float: right;

      .prdctfltr_sc {
        margin: 0;

        .prdctfltr_wc {
          width: 100%;
          float: right;
          margin: 0;
          position: relative;
          padding: 0;

          form {
            &.prdctfltr_woocommerce_ordering {
              margin: 0 !important;
              width: 100%;
              position: relative;
              float: left;
            }

            .prdctfltr_collector {
              float: left;
              margin-top: 15px;
              width: 100%;
            }

            .prdctfltr_filter_wrapper {
              padding: 0;
              position: absolute;
              top: 0;
              width: 50%;
              margin-top: -48px;
              right: 0 !important;

              .prdctfltr_filter_inner {
                .prdctfltr_filter {
                  width: 100% !important;
                  padding: 0 0 0 10px !important;
                  margin: 0 !important;

                  &.prdctfltr_cat {
                    display: none !important;
                  }

                  &.prdctfltr_attributes {
                    display: none !important;
                  }

                  span.prdctfltr_regular_title {
                    border-radius: 8px;
                    text-align: center;
                    font-size: 1em;
                    color: #000;
                    font-weight: 500;
                  }

                  .prdctfltr_add_scroll {
                    width: -moz-calc(100% - 10px);
                    width: -webkit-calc(100% - 10px);
                    width: calc(100% - 10px);

                    .prdctfltr_checkboxes {
                      label {
                        margin: 0;
                        padding: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .product-list {
      width: 100%;
      float: left;
      clear: none;
    }

    ul {
      &.products {
        width: 100%;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  body.woocommerce.prdctfltr-shop {
    .wrap {
      .content {
        margin-top: 15px;
      }
    }

    header {
      width: 100%;
      padding: 15px;
    }

    .prdctfltr_wc {
      margin-bottom: 35px;
      width: 100%;
    }

    #mobile-filters {
      width: 100%;
      margin-top: 15px;

      button.filter-by {
        border: 1px solid #ddd;
        padding: 11px;
      }

      &::after {
        content: "";
        margin-top: -33px;
        right: 0;
        margin-right: 15px;
      }
    }

    .aside {
      top: 0;
      right: -435px;
      width: 70%;

      &.visible {
        width: 70%;
        height: 100%;
      }

      .prdctfltr_sc {
        margin: 0 !important;

        .prdctfltr_wc {
          padding: 20px;

          .prdctfltr_added_loader {
            display: none !important;
          }

          .prdctfltr_filter_title {
            display: none;
          }

          .prdctfltr_collector {
            margin-top: 0;
            width: 100%;
            position: absolute;
            display: inline-block !important;
            padding: 0 !important;
            margin-left: 280px;
          }

          form {
            margin: 0;

            .prdctfltr_filter_wrapper {
              .prdctfltr_filter_inner {
                .prdctfltr_filter {
                  position: relative;
                  width: 100% !important;
                  padding: 15px !important;

                  .prdctfltr_add_scroll {
                    padding-bottom: 0 !important;

                    .prdctfltr_checkboxes {
                      label {
                        margin: 0;
                        padding: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .product-filter-top {
      width: 100%;
      position: relative;
      height: auto;
      margin: 0;
      float: right;

      .prdctfltr_sc {
        margin: 0;

        .prdctfltr_wc {
          width: 100%;
          float: right;
          margin: 0;
          position: relative;
          padding: 0;

          form {
            &.prdctfltr_woocommerce_ordering {
              margin: 0 !important;
              width: 100%;
              position: relative;
              float: left;
            }

            .prdctfltr_collector {
              float: left;
              margin-top: 15px;
              width: 100%;
            }

            .prdctfltr_filter_wrapper {
              padding: 0;
              position: relative;
              top: 0;
              width: 100%;
              margin-top: 15px;
              right: 0 !important;

              .prdctfltr_filter_inner {
                .prdctfltr_filter {
                  width: 100% !important;
                  padding: 0 !important;
                  margin: 0 !important;

                  &.prdctfltr_cat {
                    display: none !important;
                  }

                  &.prdctfltr_attributes {
                    display: none !important;
                  }

                  span.prdctfltr_regular_title {
                    border-radius: 8px;
                    text-align: center;
                    font-size: 1em;
                    color: #000;
                    font-weight: 500;
                  }

                  .prdctfltr_add_scroll {
                    width: -moz-calc(100% - 10px);
                    width: -webkit-calc(100% - 10px);
                    width: calc(100% - 10px);

                    .prdctfltr_checkboxes {
                      label {
                        margin: 0;
                        padding: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .product-list {
      width: 100%;
      float: left;
      clear: none;
    }

    ul {
      &.products {
        width: 100%;
      }
    }
  }
}

/*
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
