body {
  .festi-cart-products {
    max-width: 1140px !important;
    padding-top: 0 !important;
    position: fixed;
    z-index: 1001;
    display: block !important;
    visibility: hidden;
    right: 10px;
    left: 0;
    top: 112px;
    width: auto;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.3s;

    &.festi-show {
      top: 118px !important;
      display: block;
      visibility: visible !important;
      opacity: 1 !important;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
    }

    .festi-cart-products-content {
      padding: 15px;
      min-width: 370px;
      max-width: 370px;
      overflow: visible;
      margin-top: 0;
      right: 10px;
      position: absolute;
      z-index: 38 !important;
      font-size: 0.8em !important;
      font-weight: 500;
      background-color: #fff !important;
      border: none !important;
      border-radius: 8px !important;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;

      &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        right: 30px;
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-bottom-color: #fff;
        opacity: 1;
        -webkit-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        transition: opacity 0.2s;
      }

      &::after {
        position: absolute !important;
        content: "" !important;
        border: 13px solid !important;
        border-color: transparent transparent #fff !important;
        top: -20px !important;
        margin-left: 297px !important;
        z-index: 9;
      }

      .festi-cart-error-message {
        display: block;
      }

      table {
        &.festi-cart-list {
          width: 100%;
        }

        tbody {
          tr {
            &.festi-cart-item {
              border-bottom: none;
            }

            td {
              &.festi-cart-product-delete {
                a.festi-cart-remove-product {
                  font-size: 18px;
                  line-height: normal;
                  padding: 2px;
                  display: block;
                  text-align: center;
                  height: 30px;
                  width: 30px;
                  position: absolute;
                  right: 15px;
                  margin-top: 0;
                  border: 1px solid rgba(15, 15, 15, 0.5);
                  border-radius: 100%;
                  color: #000;
                }
              }

              &.festi-cart-product-img {
                vertical-align: middle !important;
                float: none;

                a.festi-cart-img {
                  img {
                    max-width: 80px;
                    width: 100%;
                    min-width: 80px;
                    display: block;
                    padding: 0;
                    height: auto;
                  }
                }
              }

              &.festi-cart-product-title {
                text-align: left;
                padding-left: 10px !important;
                float: none;

                a.festi-cart-title {
                  color: rgba(0, 0, 0, 0.7);
                  float: none;
                  font-size: 1em;
                  display: inline-block;
                  margin-bottom: 10px;
                  font-weight: 500;
                  padding-right: 35px;
                }

                .festi-cart-inner-wrap {
                  font-weight: 600;
                  margin-top: 5px;
                  font-size: 1.05em;
                  float: left;
                  color: rgba(0, 0, 0, 0.7);
                  margin-bottom: 10px;

                  p {
                    float: left;
                    align-self: center;
                    width: 15px;
                    margin: 0;
                    display: block;
                    text-align: center;
                    font-weight: 400;
                  }

                  span {
                    &.festi-cart-product-count {
                      float: left;
                    }

                    &.festi-cart-product-price {
                      float: left;

                      .woocommerce-Price-amount.amount {
                        font-weight: 500;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .festi-cart-total.subtotal {
        text-align: center;
      }

      p.festi-cart-buttons {
        margin: 0;
        padding: 0;

        a {
          &.festi-cart-view-cart {
            display: inline-block !important;
            padding: 0 !important;
            height: 40px;
            text-align: center;
            border: 2px solid #ff7003;
            line-height: 36px;
            font-weight: 600;
            font-size: 1.1em;
            border-radius: 3px;
            width: 49% !important;
            margin: 10px 0 0;
            background-color: #ff7003;
            color: #fff;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;

            &:hover {
              background-color: transparent;
              border: 2px solid #777;
              color: #777;
              float: none !important;
              margin: 0 10px !important;
            }
          }

          &.festi-cart-checkout {
            display: inline-block !important;
            padding: 0 !important;
            height: 40px;
            text-align: center;
            border: 2px solid #ff7003;
            line-height: 36px;
            font-weight: 600;
            font-size: 1.1em;
            border-radius: 3px;
            width: 46% !important;
            margin: 10px 0 0;
            background-color: #ff7003;
            color: #fff;
            transition: all 0.3s;

            &:hover {
              box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.1);
              background-color: #72a700;
              color: #fff;
              border-color: #72a700;
            }
          }
        }
      }
    }
  }
}

#header {
  .navbar {
    .container-fluid {
      .inner-header {
        .icon-menu {
          .header {
            #hover {
              &.cart {
                a.festi-cart {
                  background-color: transparent !important;
                  border: 0 solid !important;
                  border: currentcolor;
                  border-color: #6f6f6f !important;
                  padding: 0 !important;
                  text-align: right !important;
                  z-index: 9999999 !important;
                  top: 0 !important;
                  overflow: hidden !important;
                  position: absolute !important;
                  text-indent: 0;
                  height: 58px !important;
                  width: 50px !important;
                  left: 5px;
                  right: 0;

                  .festi-cart-content {
                    span {
                      &.festi-cart-text-before-quantity,
                      &.festi-cart-text-after-quantity,
                      &.festi-cart-text-before-total,
                      &.festi-cart-total,
                      &.festi-cart-text-after-total {
                        display: none;
                      }

                      &.festi-cart-quantity {
                        width: 100%;
                        padding: 0;
                        text-decoration: none;
                        font-size: 1.2em;
                        font-weight: 600;
                        color: #777;
                        margin: 13px 0 0 0;

                        &:hover {
                          text-decoration: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* @group popup cart */
a.festi-cart div.festi-cart-content {
  font-style: normal;
  display: block !important;
  text-align: left;
}

div#festi-cart-pop-up-content div.festi-cart-pop-up-body {
  padding: 0;
  background: #fff;
  max-width: 650px;
  margin: 0 auto;
  overflow: hidden;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

div.festi-cart-pop-up-body div.festi-cart-pop-up-header {
  background-color: #f1ffeb !important;
  font-weight: 600 !important;
  line-height: 40px !important;
  margin: 0 !important;
  vertical-align: middle !important;
}

div.festi-cart-products-content table.festi-cart-list tr.festi-cart-item td.festi-cart-product-img {
  vertical-align: middle !important;
  float: none;
}

body div.festi-cart-products-content table.festi-cart-list tr.festi-cart-item > td.festi-cart-product-delete a.festi-cart-remove-product {
  font-size: 18px;
  line-height: normal;
  padding: 2px;
  display: block;
  text-align: center;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 15px;
  margin-top: 0;
  border: 1px solid hsla(0, 0%, 6%, 0.5);
  border-radius: 100%;
  color: #000;

  &:hover {
    background: #0f0f0f;
    color: #fff !important;
    text-decoration: none;
    border: 1px solid rgba(15, 15, 15, 1);
  }
}

body div.festi-cart-products-content table.festi-cart-list tr.festi-cart-item > td.festi-cart-product-img a.festi-cart-img img {
  max-width: 100px;
  width: 100%;
  min-width: 90px;
  display: block;
  padding: 0;
  height: auto;
}

body div.festi-cart-products-content table.festi-cart-list tr.festi-cart-item td.festi-cart-product-title {
  text-align: left;
  padding-left: 10px !important;
  float: none;
}

body div.festi-cart-products-content table.festi-cart-list tr.festi-cart-item > td.festi-cart-product-title a.festi-cart-title {
  float: none;
  color: #0f0f0f;
  font-size: 1.15em;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 500;
  padding-right: 35px;
}

body div.festi-cart-products-content table.festi-cart-list tr.festi-cart-item > td.festi-cart-product-title span.festi-cart-product-variation-attribut {
  font-size: 0.9em;
  margin-bottom: 0;
  margin-top: 0;
  display: block;
}

div.festi-cart-products-content table.festi-cart-list tr.festi-cart-item.festi-cart-next {
  border-bottom: 1px solid rgba(15, 15, 15, 0.2);
}

body div.festi-cart-products-content table.festi-cart-list tr:last-child {
  border-bottom: 0 solid rgba(255, 255, 255, 1) !important;
}

div.festi-cart-products-content table.festi-cart-list tr.festi-cart-item td {
  padding: 15px 0 !important;
  float: left;
}

div.festi-cart-products-content table.festi-cart-list tr.festi-cart-item.festi-cart-next td {
  max-height: 375px;
  padding: 15px 0;
}

body div.festi-cart-products-content div#festi-cart-products-list-body {
  padding: 5px !important;
}

div.festi-cart-products-content table.festi-cart-list tr.festi-cart-empty,
div.festi-cart-widget-products-content table.festi-cart-list tr.festi-cart-empty,
div.festi-cart-pop-up-products-content table.festi-cart-list tr.festi-cart-empty {
  margin: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#mobile-search-popup {
  display: none;
}

body div.festi-cart-products-content table.festi-cart-list tr.festi-cart-empty td.festi-cart-empty {
  padding: 0;
  text-align: center;
  display: inline-block;
}

body div.festi-cart-products-content table.festi-cart-list tr.festi-cart-empty td.festi-cart-empty::before {
  width: 50px;
  height: 60px;
  background-position: 0 0;
  content: "";
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  background-image: url("https://d1zczzapudl1mr.cloudfront.net/empty-cart-transparent.png");
  position: relative;
  float: none;
  background-size: 50px;
}

body div.festi-cart-arrow {
  width: 0;
  height: 0;
  border-top: 0 solid transparent !important;
  border-left: 11px solid transparent !important;
  border-bottom: 11px solid rgba(0, 0, 0, 0.2) !important;
  border-right: 11px solid transparent !important;
}

body div.festi-cart-arrow::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-left: 11px solid transparent !important;
  border-bottom: 11px solid rgba(255, 255, 255, 1) cfc !important;
  border-right: 11px solid transparent !important;
  position: absolute;
  top: -9px;
  left: -11px;
}

@media (max-width: 1199.98px) {
  body {
    .festi-cart-products {
      right: 15px;
      top: 65px;

      .festi-cart-products-content {
        margin-top: 49px;
        right: 15px;
      }
    }
  }
}
