/* @group popup cart */
div.festi-cart-pop-up-content div.festi-cart-pop-up-body {
  padding: 0;
  background: #fff;
  max-width: 600px;
  min-width: 600px;
  margin: 0 auto;
  font-size: 1em;
  overflow: hidden;
  border: none;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  span {
    &.festi-cart-closed.b-close {
      display: block !important;
      float: right !important;
      border-radius: 100%;
      height: 35px;
      width: 35px;
      padding: 5px 10px;
      background: transparent;
      transition: all 0.3s;
      cursor: pointer !important;
      position: relative !important;
      right: 3px !important;
      top: 2px !important;

      .festi-cart-closed-button {
        font-size: 2em !important;
        font-weight: 500 !important;
        line-height: 100%;
        color: #303030 !important;
      }

      &:hover {
        background: transparent;

        .festi-cart-closed-button {
          color: #fa635a !important;
        }
      }
    }
  }

  .festi-cart-pop-up-header {
    background-color: #f1ffeb !important;
    font-weight: 600 !important;
    line-height: 45px !important;
    margin: 0 !important;
    vertical-align: middle !important;

    span {
      &.festi-cart-added-to-cart-msg {
        color: #1a1a1a !important;
        font-size: 1.1em !important;
        text-align: center;
        width: 100%;
        display: block;
        margin: 0;
      }

      &::before {
        content: "";
        position: absolute;
        font-size: 1.1em;
        display: inline-block;
        background-repeat: no-repeat;
        height: 15px;
        width: 15px;
        margin-left: -25px;
        margin-top: 12px;
      }
    }
  }

  .festi-cart-pop-up-products-content {
    #festi-cart-pop-up-products-list-body {
      max-height: 430px !important;
      scroll-behavior: smooth;
      overflow: auto !important;
      min-height: 100px;
      width: auto !important;
      margin: 20px;

      table.festi-cart-list {
        width: 100%;
        font-size: 1em;

        tbody {
          tr.festi-cart-item {
            border-bottom: 1px solid #e4e4e4;
            display: block;
            margin: 7px 0;
            padding: 7px 0;
            position: relative;
            border-radius: 0;

            &:first-child {
              margin-top: 0;
            }

            &:last-child {
              border-bottom: 0;
            }

            td {
              &.festi-cart-product-delete {
                width: 25px;
                vertical-align: middle;
                position: relative;
                right: 0;
                overflow: visible;
                padding-top: 0 !important;

                a.festi-cart-remove-product {
                  border: 1px solid #dadada;
                  text-align: center;
                  display: block;
                  height: 31px;
                  width: 31px;
                  margin: 0;
                  line-height: normal;
                  padding-top: 0;
                  position: relative;
                  left: 9;
                  top: 0;
                  padding-left: 0;
                  background: transparent;
                  font-size: 1.4em;
                  border-radius: 100%;
                  font-weight: 500;
                  -webkit-transition: all 0.3s;
                  -o-transition: all 0.3s;
                  transition: all 0.3s;
                  color: rgba(15, 15, 15, 0.85) !important;

                  &:hover {
                    background: #fa635a;
                    color: #fff !important;
                    border: 1px solid #fa635a;
                    text-decoration: none;
                  }
                }
              }

              &.festi-cart-product-img {
                max-width: 100px;
                vertical-align: middle;

                a.festi-cart-img {
                  img {
                    height: auto;
                    width: 100px;
                    max-width: 80px;
                    margin: 0 15px;
                    padding: 0 15px 0 15px;
                  }
                }
              }

              &.festi-cart-product-title {
                vertical-align: middle !important;
                padding: 0 !important;
                text-align: left !important;

                a.festi-cart-title {
                  color: rgba(0, 0, 0, 0.7);
                  margin-bottom: 0;
                  font-size: 1em;
                  height: auto;
                  font-weight: 600;
                  display: inline-block;
                  width: 100%;
                  transition: all 0.3s;

                  &:hover {
                    text-decoration: none;
                    color: #f26900;
                  }
                }

                .ywcp_cart_component_name {
                  label {
                    display: none;
                  }
                }

                br {
                  display: none;
                }

                span.festi-cart-product-variation-attribut {
                  font-size: 0.9em;
                  margin-top: 0;
                  display: block;
                  font-weight: 400;
                }

                .festi-cart-product-count-and-price {
                  width: 100%;
                  position: relative;
                  padding: 5px 0 0;
                  float: left;
                  font-size: 0.95em;

                  span {
                    &.festi-cart-product-count {
                      line-height: normal;
                      float: left;
                      text-align: center;
                      margin: 0;
                    }

                    &.festi-cart-product-price {
                      line-height: normal;
                      text-align: center;
                      float: left;
                      margin: 0;

                      span.woocommerce-Price-amount.amount {
                        line-height: normal;
                        font-weight: 600;
                        text-align: center;
                        margin: 0;
                      }
                    }
                  }

                  p {
                    margin: 0;
                    float: left;
                    padding: 0 5px;
                  }
                }

                dl {
                  &.component {
                    margin: 0;
                    padding: 0;

                    dt {
                      font-size: 0.9em;
                      font-weight: 500;
                    }

                    dd {
                      margin-bottom: 0;
                      margin-left: 0;
                      font-size: 0.9em;

                      p {
                        margin: 0;
                        padding: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .festi-cart-total.subtotal {
      display: none !important;
    }

    #popup-nav-wrapper {
      text-align: center;
      display: block;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 0 0 20px;
      width: 100%;
      float: left;

      p.festi-cart-buttons {
        margin: 0;
        width: 100%;
        float: left;
        padding: 0 20px;
        display: block;

        a {
          height: 45px;
          font-weight: 600;
          padding: 10px;
          display: inline-block;
          border-radius: 8px;
          font-size: 1.1em;
          text-decoration: none;
          transition: all 0.3s;
          width: 48%;
          margin: 0;

          &.festi-cart-view-cart {
            background-color: transparent;
            color: #fe7004;
            border: 1px solid #fe7004;
            float: left;

            &:hover {
              background-color: #fe7004;
              color: #fff;
            }
          }

          &.festi-cart-checkout {
            background-color: #fe7004;
            color: #fff;
            float: right;

            &:hover {
              background-color: #72a700;
            }
          }
        }
      }

      span.festi-cart-continue.b-close {
        display: block;
        float: left;
        width: 100%;
        padding: 20px 20px 0 20px;

        span.festi-cart-continue-shopping {
          display: block;
          padding: 0;
          font-weight: 500;
          width: 100%;
          background: transparent;
          border-radius: 8px;
          cursor: pointer;
          transition: all 0.3s;

          &:hover {
            background: transparent;
            color: #fd7004;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  div.festi-cart-pop-up-content.festi-cart-pop-up-content-active {
    left: 0 !important;
    top: 10px !important;

    .festi-cart-pop-up-body {
      padding: 0;
      background: #fff;
      height: 100%;
      max-width: 95%;
      min-width: 95%;
      margin: 0 auto;

      .festi-cart-pop-up-products-content {
        #festi-cart-pop-up-products-list-body {
          margin: 10px;
        }

        #popup-nav-wrapper {
          .festi-cart-continue {
            .festi-cart-continue-shopping {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
