.woocommerce div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce #content div.product div.images {
  float: left;
  width: 45%;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #e9ecef;
  background-color: #fff;
}

/*
.woocommerce-product-gallery--columns-3 {
  .flex-control-thumbs li:nth-child(3n + 1) {
    clear: left;
  }
}

.woocommerce-product-gallery--columns-4 {
  .flex-control-thumbs li:nth-child(4n + 1) {
    clear: inherit;
    border-right: none;
  }
}

.woocommerce-product-gallery--columns-5 {
  .flex-control-thumbs li:nth-child(5n + 1) {
    clear: left;
  }
}
*/

.woocommerce-product-gallery {
  position: relative;
  overflow: visible;

  .flex-control-thumbs {
    overflow: hidden;
    zoom: 1;
    margin: 0;
    padding: 0;

    li {
      width: 14.27% !important;
      text-align: center;
      padding: 10px;
      float: left !important;
      height: 100%;
      display: block;
      border-left: 1px solid #e9ecef;
      border-top: 1px solid #e9ecef;
      clear: none !important;
      list-style: none;

      :nth-child(4n + 1) {
        clear: none;
      }

      img {
        cursor: pointer;
        opacity: 0.5;
        margin: 0;

        &.flex-active,
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .flex-viewport {
    border: 15px solid #fff;

    .woocommerce-product-gallery__image {
      min-height: 450px;

      &:nth-child(n + 2) {
        width: 25%;
        display: inline-block;
      }
    }

    & ~ .flex-direction-nav {
      margin: 0;

      li {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        padding: 0;
        margin: 0;
        transition: all 0.35s;
        list-style: none;

        a {
          color: transparent;
          outline: none;

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        &.flex-nav-prev {
          float: left;
          background: #ff7003;
          border-radius: 100%;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s;
          left: 10px;

          &:hover {
            opacity: 0.9;
            visibility: visible;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          }

          a.flex-prev {
            background: none;
            font-size: 0;
            height: 10px;
            padding: 15px 15px;
            display: block;
            width: 10px;

            &::before {
              content: "";
              border: solid transparent;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: rgba(255, 255, 255, 0);
              border-right-color: #fff;
              border-width: 7px;
              margin-top: -8px;
              left: 3px;
              height: 0;
            }
          }
        }

        &.flex-nav-next {
          float: right;
          background: #ff7003;
          border-radius: 100%;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s;
          right: 10px;

          &:hover {
            opacity: 0.9;
            visibility: visible;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          }

          a.flex-next {
            background: none;
            font-size: 0;
            height: 10px;
            padding: 15px 15px;
            display: block;
            width: 10px;

            &::before {
              content: "";
              border: solid transparent;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: rgba(255, 255, 255, 0);
              border-left-color: #fff;
              border-width: 7px;
              margin-top: -7px;
              left: 13px;
              height: 0;
            }
          }
        }
      }
    }

    &:hover {
      & ~ .flex-direction-nav {
        li {
          &.flex-nav-prev {
            opacity: 1;
            visibility: visible;
          }

          &.flex-nav-next {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}

.woocommerce-product-gallery__wrapper {
  transition: all cubic-bezier(0.795, -0.035, 0, 1) 0.5s;
  margin: 0;
  padding: 0;
}

.woocommerce-product-gallery__wrapper .zoomImg {
  background-color: #fff;
  opacity: 0;
}

.woocommerce-product-gallery__image--placeholder {
  border: 1px solid #f2f2f2;
}

.woocommerce-product-gallery__trigger {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 2em;
  z-index: 9;
  width: 36px;
  border: 1px solid #e9ecef;
  height: 36px;
  background: #fff;
  text-indent: -9999px;
  border-radius: 8px;
  box-sizing: content-box;

  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 100%;
    position: absolute;
    top: 9px;
    left: 9px;
    box-sizing: content-box;
  }

  &::after {
    content: "";
    display: block;
    width: 2px;
    height: 8px;
    background: #000;
    border-radius: 6px;
    position: absolute;
    top: 19px;
    left: 22px;
    transform: rotate(-45deg);
    box-sizing: content-box;
  }
}

.pswp.pswp--open {
  .pswp__bg {
    background: rgba(0, 0, 0, 0.85);
  }
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
