body.woocommerce-page {
  background-image: linear-gradient(to bottom, #f8f8f8 0, #f7f8fa 959px);
}

.woocommerce img,
.woocommerce-page img {
  height: auto;
  max-width: 100%;
}

.woocommerce-page {
  ul {
    &.products {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        &.product {
          background: #fff;
          border-radius: 4px;
          padding: 20px;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);

          a {
            text-decoration: none;

            &:hover {
              text-decoration: none;
            }
          }

          .woocommerce-loop-product__title {
            font-size: 1em;
            color: #1f1f32;
            margin: 0;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            height: 48px;
            display: -webkit-box;
            overflow: hidden;
          }

          .price {
            display: block;
            width: 100%;
            padding: 5px 0;

            del {
              font-size: 0.8em;
              font-weight: 500;
              padding: 5px 0 0 10px;
              color: #555;
            }

            ins {
              font-size: 1.1em;
              font-weight: 600;
              float: left;
              text-decoration: none;
            }

            .woocommerce-Price-amount {
              font-size: 1.1em;
              font-weight: 600;
              float: none;
              text-decoration: none;
            }
          }

          .add_to_cart_button {
            display: block;
            width: 100%;
            padding: 10px;
            border-radius: 4px;
            margin: 10px 0;
            background: #f26900;
            color: #fff;
            text-align: center;
          }
        }
      }
    }
  }

  .onsale {
    background: #f26900;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    font-size: 0.8em;
    font-weight: bold;
    right: 0;
    margin: -10px 10px;
    color: #fff;
  }
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
