#yith-wacp-popup {
  .yith-wacp-overlay {
    opacity: 0.6;
  }

  .yith-wacp-wrapper {
    height: auto !important;

    .yith-wacp-main {
      border-radius: 8px;
      padding: 0;
      overflow: visible;

      .yith-wacp-head {
        .yith-wacp-close {
          display: flex;
          background: #fff;
          border: 1px solid #d2d2d2;
          border-radius: 100%;
          top: -15px;
          font-size: 1.5em;
          position: absolute;
          width: 40px;
          padding: 7px 11px;
          height: 40px;
          text-align: center;
          right: -15px;
          color: #333;
          z-index: 9999;
          transition: all 0.3s;

          &:hover {
            background: #ff7003;
            color: #fff;
            border: 1px solid #ff7003;
          }
        }
      }

      .product-price {
        font-size: 1.1em;
      }

      .yith-wacp-content {
        padding: 0;

        .yith-wacp-message {
          color: rgba(0, 0, 0, 0.8);
          background-color: #e6ffc5;
          z-index: 2;
          position: absolute;
          border-radius: 8px 8px 0 0;
        }

        h3 {
          &.cart-list-title {
            font-size: 1em;
            font-weight: 600;
            text-transform: inherit;
            background: #e6ffc3;
            padding: 17px;
            color: rgba(0, 0, 0, 0.8);
            display: block;
            position: relative;
            z-index: 1;
            border-radius: 8px 8px 0 0;
            margin: 0 0 10px 0;
          }
        }

        .cart-container {
          padding: 15px;
        }

        .cart-info {
          font-size: 1em;
          font-weight: 600;
          padding: 10px 25px;
          border-bottom: none;

          div {
            &.cart-shipping {
              font-size: 0.85em;
              text-transform: inherit;
            }

            &.cart-tax {
              font-size: 0.85em;
              text-transform: inherit;
            }

            &.cart-totals {
              font-size: 0.95em;
              text-transform: inherit;
            }
          }
        }

        .popup-actions {
          margin-bottom: 0;
          margin-top: 10px;
          border-bottom: none;

          .button {
            background: #ff7003;
            width: 45%;
            color: #fff;
            padding: 10px;
            margin: 0 10px;
            border-radius: 8px;
            font-size: 0.9em;
            text-transform: none;
            transition: all 0.25s;

            &:hover {
              box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.1);
              background: #ff7003;
            }
          }
        }

        table.cart-list {
          display: block;
          padding: 0 15px;

          tbody {
            width: 100%;

            tr {
              font-size: 0.9em;

              td {
                &.item-info {
                  font-size: 1em;
                  width: 100%;

                  a {
                    font-size: 0.9em;
                  }

                  .ywcp_cart_component_name {
                    label {
                      font-size: 0.8em;
                    }

                    a.item-name {
                      font-size: 0.9em;
                    }
                  }
                }

                &.item-thumb {
                  a {
                    img {
                      max-width: 45px;
                    }
                  }
                }
              }

              td.item-remove {
                a.remove {
                  background-image: url("../images/cancel-black.svg");
                  height: 35px;
                  width: 35px;
                  background-position: 9px;
                  margin: 0;
                  text-align: center;
                  background-repeat: no-repeat;
                  border: 2px solid #f4f4f4;
                  top: 0;
                  background-size: 13px;
                  -webkit-transition: all 0.25s;
                  -o-transition: all 0.25s;
                  transition: all 0.25s;
                  padding: 0;
                  right: 0;
                  text-decoration: none;
                  -webkit-box-shadow: none;
                  border-radius: 100%;

                  &:hover {
                    background-image: url("../images/cancel-white.svg");
                    background-color: #f66900;
                    border: 2px solid #f66900;
                  }
                }
              }
            }
          }
        }

        .woocommmerce.yith-wacp-related {
          margin-top: 20px;

          h3 {
            margin-bottom: 0;
            font-size: 0.9em;
            font-weight: 600;
          }

          ul.products {
            list-style: none;
            padding: 0 15px 15px 15px;
            margin: 0;

            li {
              &.product {
                width: 25%;
                margin: 0;
                border: none;
                box-shadow: none;

                a {
                  text-decoration: none;
                  display: block;
                  padding: 10px;
                  margin: 0;
                  border: none;
                  box-shadow: none;
                  min-height: 200px;
                  transition: all 0.25s;
                  border-radius: 4px;

                  .product-image {
                    margin-bottom: 7px;

                    img {
                      margin-bottom: 7px;
                    }

                    span.onsale {
                      padding: 0 5px;
                      margin: 10px;
                      font-size: 10px;
                    }
                  }

                  h3.product-title {
                    font-size: 0.8em;
                    line-height: 15px;
                    color: rgba(0, 0, 0, 0.7);
                    text-transform: none;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    height: 32px;
                    margin: 0;
                    display: -webkit-box;
                    overflow: hidden;
                  }

                  .product-price {
                    font-size: 0.8em;
                  }

                  &:hover {
                    box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.1);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#yith-wacp-mini-cart {
  position: fixed;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  cursor: pointer;
  transition: all 0.3s;

  .yith-wacp-mini-cart-count {
    background: #f66900;
  }

  .yith-wacp-mini-cart-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-49 141 512 512'%3E%3Cpath d='M457.3 250.7a25 25 0 0 1 5.2 21l-35.2 170.7a25.2 25.2 0 0 1-24.6 20h-311l7.5 36h301.2a12.6 12.6 0 1 1 0 25.1H99.2a25.2 25.2 0 0 1-24.6-20L13.7 208.1l-55.1-24a12.6 12.6 0 1 1 10-23l55.2 24c7.5 3.2 13 9.9 14.6 17.9l7.9 38.4h391.6a25 25 0 0 1 19.4 9.2zm-54.6 186.6l35.2-170.7H51.5l35.1 170.7h316.1z' fill='%23ff7003'/%3E%3Cg fill='%23ff7003'%3E%3Cpath d='M323.6 543.8a45 45 0 1 1 0 90.2 45 45 0 0 1 0-90.2zm20 45a20 20 0 1 0-39.9.1 20 20 0 0 0 39.8 0zM334.7 306.8a12.6 12.6 0 1 1 0 25.1H154.6a12.6 12.6 0 1 1 0-25.1h180.1z'/%3E%3C/g%3E%3Cg fill='%23ff7003'%3E%3Cpath d='M325 372a12.6 12.6 0 1 1 0 25.2H164.3a12.6 12.6 0 1 1 0-25.2h160.5zM165.7 543.8a45 45 0 1 1-.1 90.2 45 45 0 0 1 0-90.2zm19.9 45a20 20 0 1 0-39.9.1 20 20 0 0 0 39.9 0z'/%3E%3C/g%3E%3C/svg%3E") !important;
    background-size: 30px;
    width: 50px;
    height: 50px;
  }

  .blockUI.blockOverlay {
    background-image: none !important;

    &::before {
      border: 4px solid #ccc;
      border-top-color: #f66900;
      top: 50%;
      left: 50%;
      width: 35px;
      height: 35px;
      margin-top: -17px;
      margin-left: -15px;
      border-radius: 50%;
      animation: spinner 0.6s linear infinite;
      background: none;
    }
  }
}

body.lock-scroll2 {
  #yith-wacp-mini-cart {
    left: 40% !important;
    top: 3% !important;
  }
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}
*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  body.lock-scroll2 {
    #yith-wacp-mini-cart {
      left: 10% !important;
      top: 5% !important;
    }
  }
}

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
