body.woocommerce.prdctfltr-shop {
  display: block;

  .wrap {
    float: left;
    width: 100%;
  }

  header {
    width: 100%;
    float: none;
    background: #fff;
    position: relative;
    border-radius: 8px;
    display: block;
    padding: 20px;

    .page-description {
      display: block;
      width: 100%;
    }
  }

  .prdctfltr_wc {
    position: relative;
    margin-bottom: 35px;
    clear: none;
    width: 100%;
    float: left;
  }

  .aside {
    width: 25%;
    float: left;
    margin: 25px 0 0 0;
    clear: none;

    .prdctfltr_sc {
      .prdctfltr_wc {
        padding: 0 25px 0 0;

        .prdctfltr_filter_title {
          display: none;
        }

        .prdctfltr_collector {
          margin-top: 0;
          width: 100%;
          position: absolute;
          display: inline-block !important;
          padding: 0 !important;
          margin-left: 280px;
        }

        form {
          margin: 0;

          .prdctfltr_filter_wrapper {
            .prdctfltr_filter_inner {
              .prdctfltr_filter {
                width: 100%;
                background: #fff;
                margin-bottom: 20px;
                padding: 15px;
                border-radius: 8px;
              }
            }
          }
        }
      }
    }
  }

  .product-filter-top {
    width: auto;
    float: right;

    .prdctfltr_sc {
      margin: 0;

      .prdctfltr_wc {
        width: 250px;
        float: right;
        margin: 0;
        padding: 0;

        form {
          .prdctfltr_filter_wrapper {
            .prdctfltr_filter_inner {
              .prdctfltr_filter {
                width: 100%;
                padding: 0;

                span.prdctfltr_regular_title {
                  border-radius: 8px;
                }

                .prdctfltr_add_scroll {
                  .prdctfltr_checkboxes {
                    label {
                      &.prdctfltr_ft_none {
                        margin: 0;
                        padding: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .product-list {
    width: 75%;
    float: left;
    clear: none;
  }

  ul {
    &.products {
      width: 100%;
    }
  }
}

.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
  float: right;
  width: 100%;
  display: none;
}

.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
  float: left;
  width: 100%;
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
