body.woocommerce.prdctfltr-shop {
  display: block;

  .wrap {
    float: left;
    width: 100%;
  }

  header.woocommerce-products-header {
    width: 100%;
    float: none;
    background: #fff;
    position: relative;
    border-radius: 8px;
    display: block;
    padding: 20px;

    .page-description {
      display: block;
      width: 100%;
    }
  }

  .prdctfltr_collector {
    float: left;
    width: 65%;
    margin: 0;
    padding: 0 !important;

    span {
      &.prdctfltr_title_selected {
        margin: 0 10px 0 0;
        padding: 10px 45px 10px 15px;
        border-radius: 8px;
        position: relative;
        background-color: white;

        a {
          &.prdctfltr_title_remove {
            margin-left: 0;
            line-height: 0;
            position: absolute;
            right: 0;
            top: 0;
            height: 45px;
            width: 40px;
            background: rgba(249, 105, 0, 0.1);
            text-align: center;
            text-decoration: none;
            border-radius: 8px;
            transition: all 0.25s;

            i {
              display: block;
              height: 45px;
              width: 40px;

              &::before {
                font-size: 1.8em;
                display: block;
                text-align: center;
                padding: 25px 7px;
              }

              &.prdctfltr-delete {
                display: block;
              }
            }

            &:hover {
              background: #f96900;
              text-decoration: none;

              i {
                &::before {
                  color: #fff;
                }
              }

              .prdctfltr_title_selected {
                box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.15);
              }
            }
          }
        }
      }
    }
  }

  .prdctfltr_wc {
    position: relative;
    margin-bottom: 35px;
    clear: none;
    width: 100%;
    float: left;

    .prdctfltr_added_loader {
      &.pf_ajax_loading {
        i.prdctfltr-bars {
          &::before {
            border: 7px solid #ccc;
            border-top-color: #f66900;
          }
        }
      }
    }
  }

  .aside {
    width: 25%;
    float: left;
    margin: 0;
    clear: none;

    .prdctfltr_wc {
      padding: 0 25px 0 0;

      .prdctfltr_added_loader {
        display: none !important;
      }

      .prdctfltr_collector {
        margin-top: 0;
        width: 100%;
        position: absolute;
        display: inline-block !important;
        padding: 0 !important;
        margin-left: 280px;
      }

      form {
        margin: 0;

        .prdctfltr_buttons {
          .prdctfltr_reset {
            display: block;
            background: #fff;
            border-radius: 8px;
            height: 45px;
            margin: 0 0 20px 0;
            padding: 14px 10px;
            transition: all 0.3s;

            label {
              display: inline-block;
              line-height: 20px;
              vertical-align: middle;
              margin: 0;
            }

            &:hover {
              color: #ff7003;
            }
          }

          &:first-child {
            margin: 0;
            padding: 0;
          }
        }

        .prdctfltr_filter_wrapper {
          .prdctfltr_filter_inner {
            .prdctfltr_filter {
              width: 100%;
              background: #fff;
              margin-bottom: 20px;
              padding: 15px;
              border-radius: 8px;

              .prdctfltr_add_scroll {
                margin-top: 5px;

                .prdctfltr_checkboxes {
                  label {
                    transition: all 0.3s;
                    margin: 0;
                    padding: 0;

                    &.pf_adoptive_hide {
                      &:hover {
                        color: inherit;
                      }
                    }

                    span {
                      &::before {
                        width: 10px;
                        height: 10px;
                        padding: 0;
                        border: 1px double #ff7003;
                        margin-top: 4px;
                        margin-bottom: 4px;
                        border-radius: 100%;
                        margin-right: 8px;
                        vertical-align: middle;
                        -webkit-box-sizing: content-box;
                        box-sizing: content-box;
                        -webkit-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        transition: all 0.3s;
                        background-color: #fff;
                      }
                    }

                    &:hover {
                      color: #ff7003;

                      span {
                        &::before {
                          background: #ff7003;
                        }
                      }
                    }
                  }

                  span.irs {
                    span.irs {
                      .irs-from,
                      .irs-to {
                        background: #f96900;
                      }
                    }

                    .irs-bar {
                      height: 10px;
                      top: 33px;
                      border-top: 1px solid #f96900;
                      border-bottom: 1px solid #f96900;
                      background: #f96900;
                      background: linear-gradient(to top, rgb(249, 105, 0) 0%, rgb(249, 105, 0) 100%);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .product-filter-top {
    width: 75%;
    float: right;
    margin: 0;

    .prdctfltr_wc.prdctfltr_wc_regular {
      width: 100%;
      float: right;
      margin: 0;
      padding: 0;

      form {
        &.prdctfltr_woocommerce_ordering {
          margin: 0 !important;
          width: 100%;
          float: left;
        }

        .prdctfltr_filter_wrapper {
          margin-bottom: 0;
          width: 30%;
          float: right;

          .prdctfltr_filter_inner {
            .prdctfltr_filter {
              &.prdctfltr_cat {
                display: none;
              }

              &.prdctfltr_attributes {
                display: none;
              }

              span.prdctfltr_regular_title {
                border-radius: 8px;
              }
            }

            .prdctfltr_orderby {
              padding: 0;
              width: 100%;

              .prdctfltr_add_scroll {
                width: calc(100% - 10px);
                margin-top: 5px;
                border-radius: 8px;

                .prdctfltr_checkboxes {
                  label {
                    transition: all 0.3s;

                    span {
                      &::before {
                        width: 10px;
                        height: 10px;
                        padding: 0;
                        border: 1px double #ff7003;
                        margin-top: 4px;
                        margin-bottom: 4px;
                        border-radius: 100%;
                        margin-right: 8px;
                        vertical-align: middle;
                        box-sizing: content-box;
                        transition: all 0.3s;
                        background-color: #fff;
                      }
                    }

                    &:hover {
                      color: #ff7003;

                      span {
                        &::before {
                          background: #ff7003;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .product-list {
    width: 100%;
    float: left;
    clear: none;

    p.woocommerce-result-count {
      font-size: 0.8em;
      margin: 0 0 10px;
    }
  }

  ul {
    &.products {
      width: 75%;
      float: left;
      clear: none;
    }
  }

  .woocommerce-pagination {
    text-align: center;
    width: 100%;
    float: left;
  }
}

.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
  float: right;
  width: 100%;
  display: none;
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
*/

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  body.woocommerce.prdctfltr-shop {
    &.lock-scroll2 {
      overflow: hidden;
      position: fixed; /* scroll body to top */
      transition: opacity 0.4s ease-in-out;
    }

    .wrap {
      float: left;
      width: 100%;

      .content {
        margin-top: 15px;
      }
    }

    header {
      width: 100%;
      float: none;
      background: #fff;
      position: relative;
      border-radius: 8px;
      display: block;
      padding: 20px;

      .page-description {
        display: block;
        width: 100%;
      }
    }

    .prdctfltr_wc {
      position: relative;
      margin-bottom: 35px;
      clear: none;
      width: 100%;
      float: left;
    }

    #mobile-filters {
      width: 50%;
      float: left;
      margin-top: 15px;

      button.filter-by {
        background: #fff;
        width: 100%;
        color: rgba(0, 0, 0, 0.7);
        border-radius: 8px;
        font-size: 1em;
        font-weight: 600;
        border: 1px solid #ddd;
        padding: 11px;
      }

      &::after {
        content: "";
        background: no-repeat url("../images/filter.svg") 50% 50%;
        display: block;
        width: 20px;
        margin-top: -33px;
        margin-left: 15px;
        position: absolute;
        height: 20px;
      }
    }

    .aside {
      float: none;
      visibility: hidden;
      position: fixed;
      opacity: 0;
      margin: 0;
      background: #f8f8f9;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      top: 0;
      right: -435px;
      width: 50%;

      &.visible {
        visibility: visible;
        transform: translate(0);
        opacity: 1;
        z-index: 999;
        box-shadow: 5px 0 30px 0 hsla(0, 0%, 45%, 0.8);
        background: #f8f8f9;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        right: 0;
        margin: 0;
        top: 0;
        width: 50%;
        height: 100%;
      }

      .prdctfltr_sc {
        margin: 0 !important;

        .prdctfltr_wc {
          padding: 20px;

          .prdctfltr_added_loader {
            display: none !important;
          }

          .prdctfltr_filter_title {
            display: none;
          }

          .prdctfltr_collector {
            margin-top: 0;
            width: 100%;
            position: absolute;
            display: inline-block !important;
            padding: 0 !important;
            margin-left: 280px;
          }

          form {
            margin: 0;

            .prdctfltr_filter_wrapper {
              .prdctfltr_filter_inner {
                .prdctfltr_filter {
                  position: relative;
                  width: 100% !important;
                  padding: 15px !important;

                  .prdctfltr_add_scroll {
                    padding-bottom: 0 !important;

                    .prdctfltr_checkboxes {
                      label {
                        margin: 0;
                        padding: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .product-filter-top {
      width: 100%;
      position: relative;
      height: auto;
      margin: 0;
      float: right;

      .prdctfltr_sc.prdctfltr_sc_filter {
        margin: 0;

        .prdctfltr_wc {
          width: 100%;
          float: right;
          margin: 0;
          position: relative;
          padding: 0;

          form {
            &.prdctfltr_woocommerce_ordering {
              margin: 0 !important;
              width: 100%;
              position: relative;
              float: left;
            }

            .prdctfltr_collector {
              float: left;
              margin-top: 15px;
              width: 100%;
            }

            .prdctfltr_filter_wrapper {
              padding: 0;
              position: absolute;
              top: 0;
              width: 50%;
              margin-top: -45px;
              right: 0 !important;

              .prdctfltr_filter_inner {
                .prdctfltr_filter {
                  width: 100% !important;
                  padding: 0 0 0 10px !important;
                  margin: 0 !important;

                  &.prdctfltr_cat {
                    display: none !important;
                  }

                  &.prdctfltr_attributes {
                    display: none !important;
                  }

                  span.prdctfltr_regular_title {
                    border-radius: 8px;
                    text-align: center;
                    font-size: 1em;
                    color: #000;
                    font-weight: 500;
                  }

                  .prdctfltr_add_scroll {
                    width: -moz-calc(100% - 10px);
                    width: -webkit-calc(100% - 10px);
                    width: calc(100% - 10px);

                    .prdctfltr_checkboxes {
                      label {
                        margin: 0;
                        padding: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .product-list {
      width: 100%;
      float: left;
      clear: none;
    }

    ul {
      &.products {
        width: 100%;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  body.woocommerce.prdctfltr-shop {
    .wrap {
      .content {
        margin-top: 0;
      }
    }

    header {
      width: 100%;
      padding: 15px;
    }

    .prdctfltr_wc {
      margin-bottom: 35px;
      width: 100%;
    }

    #mobile-filters {
      width: 49%;
      margin-top: 15px;

      button.filter-by {
        border: 1px solid #ddd;
        color: rgba(0, 0, 0, 0.7);
        padding: 11px;
      }

      &::after {
        content: "";
        margin-top: -33px;
        width: 15px;
        margin-right: 0;
        margin-left: 10px;
      }
    }

    .aside {
      top: 0;
      right: -435px;
      width: 70%;

      &.visible {
        width: 70%;
        height: 100%;
      }

      .prdctfltr_sc {
        margin: 0 !important;

        .prdctfltr_wc {
          padding: 20px;

          .prdctfltr_added_loader {
            display: none !important;
          }

          .prdctfltr_filter_title {
            display: none;
          }

          .prdctfltr_collector {
            margin-top: 0;
            width: 100%;
            position: absolute;
            display: inline-block !important;
            padding: 0 !important;
            margin-left: 280px;
          }

          form {
            margin: 0;

            .prdctfltr_filter_wrapper {
              .prdctfltr_filter_inner {
                .prdctfltr_filter {
                  position: relative;
                  width: 100% !important;
                  padding: 15px !important;

                  .prdctfltr_add_scroll {
                    padding-bottom: 0 !important;

                    .prdctfltr_checkboxes {
                      label {
                        margin: 0;
                        padding: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .product-filter-top {
      width: 100%;
      position: relative;
      height: auto;
      margin: 0;
      float: right;

      .prdctfltr_sc.prdctfltr_sc_filter {
        margin: 0;

        .prdctfltr_wc {
          width: 100%;
          float: right;
          margin: 0;
          position: relative;
          padding: 0;

          form {
            &.prdctfltr_woocommerce_ordering {
              margin: 0 !important;
              width: 100%;
              position: relative;
              float: left;
            }

            .prdctfltr_collector {
              float: left;
              margin-top: 15px;
              width: 100%;
            }

            .prdctfltr_filter_wrapper {
              padding: 0;
              width: 49%;
              right: 0 !important;

              .prdctfltr_filter_inner {
                .prdctfltr_filter {
                  width: 100% !important;
                  padding: 0 !important;
                  margin: 0 !important;

                  &.prdctfltr_cat {
                    display: none !important;
                  }

                  &.prdctfltr_attributes {
                    display: none !important;
                  }

                  span.prdctfltr_regular_title {
                    border-radius: 8px;
                    text-align: center;
                    font-size: 1em;
                    padding: 9px 0;
                    height: 45px;
                    color: rgba(0, 0, 0, 0.7);
                    font-weight: 600;
                  }

                  .prdctfltr_add_scroll {
                    width: -moz-calc(100%);
                    width: -webkit-calc(100%);
                    width: calc(100%);

                    .prdctfltr_checkboxes {
                      label {
                        margin: 0;
                        padding: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .product-list {
      width: 100%;
      float: left;
      clear: none;
    }

    ul {
      &.products {
        width: 100%;
      }
    }
  }
}

/*
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
