.woocommerce {
  div.product {
    .woocommerce-tabs {
      float: left;
      width: 100%;
      margin-top: 100px;
      margin-bottom: 50px;

      ul.tabs {
        margin: 0;
        padding: 0;

        li {
          padding: 0 20px 1px 20px;
          border: none;
          background: transparent;

          a {
            font-weight: 500;
            color: rgba(0, 0, 0, 0.7);
            transition: all 0.25s;
            padding: 10px 15px;
            text-decoration: none;

            &:hover {
              border-bottom: 3px solid #ff7003;
              text-decoration: none;
            }
          }

          &::before {
            display: none;
          }

          &::after {
            display: none;
          }

          &.active {
            a {
              font-weight: 500;
              border-bottom: 3px solid #ff7003;
            }

            &::before {
              display: none;
            }

            &::after {
              display: none;
            }
          }
        }

        &::before {
          border-bottom: 1px solid #fff;
        }
      }

      .woocommerce-Tabs-panel {
        font-size: 1em;
        padding: 20px;
        margin-bottom: 0;
        background: #fff;
        border-radius: 8px;
        line-height: 1.6em;
        box-shadow: none;

        h2 {
          display: none;
          font-size: 1.3rem;
        }

        &.woocommerce-Tabs-panel--description {
          .container {
            section {
              img {
                padding: 15px;
              }
            }
          }
        }
      }
    }
  }
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
*/

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .woocommerce {
    div.product {
      .woocommerce-tabs {
        margin-top: 20px;

        ul.tabs {
          background: #fff;
          border: 1px solid #e2e2e2;
          padding: 15px 0 0;
          float: left;
          overflow: visible;
          width: 100%;
          border-radius: 8px;

          &::before {
            content: "";
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid #e2e2e2;
            left: 0;
            right: 0;
            z-index: 0;
            margin: -22px 49.7%;
            position: absolute;
          }

          &::after {
            content: "";
            width: 0;
            height: 0;
            left: 0;
            right: 0;
            margin: 129px 50%;
            position: absolute;
            border-left: 13px solid transparent;
            border-right: 13px solid transparent;
            border-bottom: 13px solid #fff;
          }

          li {
            background: none;
            margin: 0 auto;
            text-align: center;
            border-radius: 0;
            float: left;
            width: 50%;
            padding: 0;
            border: none;

            a {
              transition: all 0.25s ease 0s;
              background: #fff;
              display: block;
              padding: 9px;
              border: 1px solid #d0d0d0;
              font-size: 0.85em;
              border-radius: 8px;
              margin: 0 10px 15px;
              width: auto;
              font-weight: 500;
              color: #515151;
              text-decoration: none;

              &:hover {
                background: #ff7003;
                text-decoration: none;
              }
            }

            &::before {
              content: "";
              width: 5px;
              height: 5px;
              display: inline-block;
              position: absolute;
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid #fe7004;
              box-shadow: none;
              left: 20px;
              bottom: 50%;
              margin: 2px;
              opacity: 1;
            }

            &::after {
              display: none;
            }

            &.active {
              a {
                background: #ff7003;
                color: #fff;
                border: 1px solid #ff7003;
              }

              &::before {
                content: "";
                width: 5px;
                height: 5px;
                display: inline-block;
                position: absolute;
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #fff;
                box-shadow: none;
                left: 20px;
                bottom: 50%;
                margin: 2px;
                opacity: 1;
              }

              &::after {
                display: none;
              }
            }
          }
        }

        .woocommerce-Tabs-panel {
          padding: 20px;
          background: #fff;
          float: left;
          font-size: 1em;
          width: 100%;
          border: 1px solid #e2e2e2;
          margin: 20px 0;

          h2 {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}

/*
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}
*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .woocommerce {
    div.product {
      .woocommerce-tabs {
        margin-top: 20px;

        ul.tabs {
          background: #fff;
          border: 1px solid #e2e2e2;
          padding: 15px 0 0;
          float: left;
          overflow: visible;
          width: 100%;
          border-radius: 8px;

          li {
            background: none;
            margin: 0 auto;
            text-align: center;
            border-radius: 0;
            float: left;
            width: 50%;
            padding: 0;
            border: none;

            a {
              transition: all 0.25s ease 0s;
              background: #fff;
              display: block;
              padding: 9px;
              border: 1px solid #d0d0d0;
              font-size: 0.85em;
              border-radius: 8px;
              margin: 0 10px 15px;
              width: auto;
              font-weight: 500;
              color: #515151;
              text-decoration: none;

              &:hover {
                background: #ff7003;
                text-decoration: none;
              }
            }

            &::before {
              content: "";
              width: 5px;
              height: 5px;
              display: inline-block;
              position: absolute;
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
              border-left: 7px solid transparent;
              border-right: 7px solid transparent;
              border-bottom: 7px solid #fe7004;
              box-shadow: none;
              left: 20px;
              bottom: 50%;
              margin: 2px;
              opacity: 1;
            }

            &::after {
              display: none;
            }

            &.active {
              a {
                background: #ff7003;
                color: #fff;
                border: 1px solid #ff7003;
              }

              &::before {
                content: "";
                width: 5px;
                height: 5px;
                display: inline-block;
                position: absolute;
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #fff;
                box-shadow: none;
                left: 20px;
                bottom: 50%;
                margin: 2px;
                opacity: 1;
              }

              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
