.woocommerce {
  form {
    &.composite_form {
      float: left;
      position: relative !important;
      width: 100%;
      margin: 0 0 15px 0;

      .blockUI {
        &.blockOverlay {
          position: absolute !important;

          &::before {
            content: "";
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            border: 5px solid #ccc;
            border-top-color: #f66900;
            background: transparent;
            top: 50%;
            left: 50%;
            width: 35px;
            height: 35px;
            margin-top: -12px;
            margin-left: -12px;
            border-radius: 50%;
          }
        }
      }

      .composite_component {
        .component_title_wrapper {
          margin: 0;
          font-size: 1em;
          margin-bottom: 10px;
          font-weight: 600;
          border-radius: 8px;
          position: relative;
          background: #fff;
          text-transform: none;
          border: 1px solid #d2d2d2;
          padding: 10px;
          color: rgba(31, 37, 50, 0.7);
          transition: all 0.25s;

          h2 {
            margin-bottom: 0;
          }
        }

        .component_inner {
          padding: 15px;
          margin-bottom: 15px;
          border-radius: 8px;

          .component_description_wrapper {
            padding: 10px 0;

            .component_description {
              margin-bottom: 0;
            }

            .component_selections {
              .component_selections_inner {
                margin-bottom: 15px;

                .component_section_title {
                  padding-left: 5px;
                }

                .component_options {
                  .component_options_inner {
                    .component_option_thumbnails {
                      ul.component_option_thumbnails_container {
                        li.component_option_thumbnail_container {
                          .component_option_thumbnail {
                            .image {
                              padding: 0;
                              border-radius: 8px;
                              overflow: hidden;
                              box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
                            }

                            .thumbnail_description {
                              padding: 5px 0;
                              text-align: left;

                              span.thumbnail_price.price {
                                del {
                                  font-size: 0.85em;
                                }

                                ins {
                                  span.woocommerce-Price-amount.amount {
                                    font-size: 1.2em;
                                  }
                                }
                              }
                            }

                            .thumbnail_buttons {
                              .button {
                                width: 100%;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .component_content {
            .component_summary {
              margin-top: 15px;

              .product {
                margin: 0;

                &.populated {
                  padding: 15px;
                  border: 1px solid #ddd;
                  border-radius: 8px;

                  .composited_product_title_wrapper {
                    padding-top: 0;

                    p {
                      &.component_section_title.selected_option_label_wrapper {
                        position: absolute;
                        top: -8px;
                        background: #fff;
                        padding: 0 5px;
                      }

                      &.composited_product_title.component_section_title.product_title {
                        font-size: 1.1em;
                        font-weight: 600;
                      }

                      &.component_section_title.clear_component_options_wrapper {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        margin: 0;
                      }
                    }
                  }

                  .composited_product_details_wrapper {
                    .composited_product_images.images {
                      display: block;
                      width: 20%;
                    }

                    .details.component_data {
                      padding: 0.5em 0 0 1.5em;

                      .component_wrap {
                        .price {
                          font-size: 1em;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &.open {
          .component_title_wrapper {
            background: #ff7003;
            border: 1px solid #ff7003;
            color: #fff;
          }
        }
      }

      .cart.composite_data {
        .composite_wrap {
          padding-top: 20px;

          .composite_price {
            p.price {
              text-align: right;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

/*
form {
  &.cart.ywcp {
    .ywcp_components_single_item {
      float: left;
      position: relative !important;
      width: 100%;
      margin: 0 0 15px 0;
    }

    .ywcp_wcp_group_total {
      background: #fff;
      float: left;
      width: 100%;
      border: 1px solid #d2d2d2;
      border-radius: 8px;
      padding: 5px 10px;
      margin: 15px 0;

      table {
        width: 100%;
        font-size: 1em;

        tr {
          border-bottom: 1px solid #d2d2d2;
          padding: 2px;

          &#ywcp_wcp_tr_order_total {
            font-weight: 700;
          }

          &:last-child {
            border-bottom: none;
          }

          td {
            padding: 10px;
          }
        }
      }
    }

    .ywcp_customer_advice {
      padding: 10px;
    }

    .ywcp_component_options_selection_container {
      position: relative;
      box-shadow: none;
      background-color: #fff;
      border-radius: 8px;
      border: 1px solid #d2d2d2;

      .product {
        display: block;

        .ywcp_image_container.images {
          border: none;
          width: 15%;

          img {
            width: 100%;
            margin-bottom: 0;
            display: inline-block;
            float: left;
          }
        }

        .ywcp_product_info {
          padding: 0 20px 0 10px;
          width: 85%;
          float: left;

          .ywcp_product_title {
            font-size: 1em;
            font-weight: 600;
            margin-bottom: 0;
          }

          .ywcp_product_link {
            float: left;
            font-size: 0.9em;
          }

          .ywcp_product_price {
            display: block;
            float: left;
            padding-right: 10px;
            border-right: 1px solid #d2d2d2;
            margin-right: 10px;

            del {
              font-weight: 400;
              float: none;
              font-size: 0.9em;
              margin: 0 0 0 7px;
            }

            ins {
              font-weight: 600;
              float: left;
              text-decoration: none;
            }
          }

          .ywcp_product_short_description {
            float: none;
            display: inline-block;
            font-size: 0.9em;
            width: 100%;
          }
        }
      }
    }

    a.ywcp_selection_clear {
      background-color: transparent;
      padding: 8px;
      height: 30px;
      width: 30px;
      border-radius: 8px;
      color: #fff;
      text-indent: -9999px;
      background-image: url("../images/cancel-orange.svg");
      background-position: 10px;
      background-size: 10px;
      margin: 10px 6px 0 0;
      right: 0;
      position: absolute;
      text-transform: uppercase;
      transition: all 0.25s;

      &:hover {
        background-image: url("../images/cancel-white.svg");
        background-color: #f66900;
      }
    }

    .ywcp_component_options_list_container {
      .ywcp_component_otpions_thumbnails_container {
        .products {
          li {
            clear: both;
            display: flex;
            width: 100%;
            border-radius: 8px;
            background: #fff;
            padding: 10px;
            border: 1px solid #d2d2d2;
            margin: 10px 0 0;
            cursor: pointer;
            transition: all 0.3s;

            .ywcp_image_container {
              width: 60px;
              margin-bottom: 0;

              img {
                border-radius: 8px;
              }
            }

            .ywcp_product_info {
              height: auto;

              .ywcp_product_title {
                font-size: 1em;
                font-weight: 600;
                margin-bottom: 5px;
              }

              .ywcp_product_price {
                display: block;
                float: left;
                padding-right: 10px;
                border-right: 1px solid #d2d2d2;
                margin-right: 10px;

                del {
                  font-weight: 400;
                  float: none;
                  font-size: 0.9em;
                  margin: 0 0 0 7px;
                }

                ins {
                  font-weight: 600;
                  float: left;
                  text-decoration: none;
                }
              }

              .ywcp_product_link {
                float: left;
              }
            }

            &::after {
              transition: all 0.3s;
              content: "+";
              font-size: 3em;
              color: transparent;
              position: absolute;
              right: 30px;
            }

            &:hover {
              background: #f2f2f2;

              &::after {
                content: "+";
                font-size: 3em;
                color: #ff7003;
                position: absolute;
                right: 30px;
              }
            }
          }
        }
      }
    }

    .ywcp_components_container {
      float: left;
      width: 100%;
      border-radius: 8px;
      border: 1px solid #d2d2d2;
      background: #fdfdfd;
      padding: 15px 15px 5px 15px;

      h3 {
        margin: 0;
        font-size: 1em;
        font-weight: 600;
        border-radius: 8px;
        position: relative;
        background: #fff;
        text-transform: none;
        border: 1px solid #d2d2d2;
        padding: 13px;
        color: rgba(31, 37, 50, 0.7);
        transition: all 0.25s;

        a {
          &.ywcp_selection_close {
            box-shadow: none;
            position: absolute;
            margin: -2px 10px 0 0;
            right: 0;
            color: #f26900;
          }

          &.ywcp_selection_open {
            box-shadow: none;
            position: absolute;
            margin: -2px 10px 0 0;
            right: 0;
          }
        }

        &:hover {
          border: 1px solid #f26900;
          background: #f26900;
          color: #fff;

          a {
            &.ywcp_selection_close {
              color: #fff;
            }

            &.ywcp_selection_open {
              color: #fff;
            }
          }
        }

        &:first-child {
          margin-bottom: 0 !important;
        }

        abbr {
          margin-left: 10px;
          font-size: 0.8em;
          font-weight: 400;
          text-decoration: none;
        }
      }

      .ywcp_component_description {
        padding: 10px 10px 0 10px;
        margin: 0;
      }

      .ywcp_component_subtotal {
        padding: 0 5px;
        font-size: 0.9em;
        border: none;
        background: #fff;
        margin-bottom: 0;
        position: relative;
        top: -10px;
        margin-right: 20px;

        span.amount {
          font-weight: 600;
        }
      }

      .ywcp_selection_selected {
        margin-bottom: 10px;

        h3 {
          visibility: hidden;
          height: 0;
          padding: 0;
          margin: 0 !important;
        }

        .ywcp_component_options_selection_container {
          min-height: 45px;
        }
      }
    }

    .yith_wapo_groups_container {
      float: none;
    }
  }
}
*/
