body.woocommerce-cart {
  .wrap {
    .content {
      margin-bottom: 50px;

      .container-fluid {
        main.main {
          .woocommerce {
            position: relative;

            .row {
              .woocommerce-cart-form {
                .woocommerce-cart-form__contents {
                  background: #fff;
                  font-size: 1em;
                  border-radius: 8px;
                  border: none;
                  padding: 15px;

                  tbody {
                    tr {
                      &.woocommerce-cart-form__cart-item {
                        font-size: 1em;

                        td {
                          &.product-remove {
                            position: relative;
                            background: transparent;
                            width: 35px;

                            a.remove {
                              border: 1px solid #dadada;
                              text-align: center;
                              display: block;
                              height: 32px;
                              width: 32px;
                              margin: 0;
                              line-height: normal;
                              padding-top: 0;
                              padding-left: 1px;
                              position: relative;
                              left: 0;
                              top: 0;
                              background: transparent;
                              font-size: 1.5em;
                              border-radius: 100%;
                              font-weight: 500;
                              transition: all 0.3s;
                              color: rgba(15, 15, 15, 0.85) !important;

                              &:hover {
                                background: #fa635a;
                                color: #fff !important;
                                border: 1px solid #fa635a;
                                text-decoration: none;
                              }
                            }
                          }

                          &.product-thumbnail {
                            padding: 0 0 0 5px;
                            max-width: 50px;
                            background: transparent;

                            a {
                              img {
                                width: 100px;
                                padding: 0;
                                border: 1px solid #d2d2d2;
                                height: auto;
                                border-radius: 8px;
                              }
                            }
                          }

                          &.product-subtotal {
                            font-size: 0.9em;
                          }
                        }
                      }

                      &.ywcp_component_item {
                        font-size: 1em;

                        td {
                          &.product-subtotal {
                            span.woocommerce-Price-amount.amount {
                              font-size: 1em;
                              font-weight: 600;
                            }

                            div {
                              display: inline-block;
                              font-size: 0.9em;
                              font-weight: 500;

                              span.woocommerce-Price-amount.amount {
                                font-weight: 500;
                              }
                            }
                          }
                        }
                      }

                      &.component_table_item,
                      &.ywcp_component_child_item {
                        font-size: 0.9em;
                        background: #f0f6f8;

                        td.product-name {
                          .component_table_item_indent {
                            padding: 0;
                            font-size: 0.9em;
                          }
                        }
                      }

                      &.coupon {
                        td.actions {
                          padding: 0;

                          .coupon {
                            padding: 15px;

                            input {
                              width: 100%;
                              padding: 10px;
                            }
                          }

                          div.col-sm-6 {
                            .button {
                              width: 100%;
                              padding: 10px;
                              height: 45px;
                              border-radius: 8px;
                              border: 1px solid #d2ced2;
                              background: transparent;
                              font-weight: 400;
                              transition: all 0.3s;
                              font-size: 1em;

                              &:hover {
                                background-color: #fe7003;
                                text-decoration: none;
                                background-image: none;
                                color: #fff;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              .cart-collaterals {
                .cart_totals {
                  background: #fff;
                  border-radius: 8px;
                  width: 100%;
                  font-size: 1em;
                  padding: 15px;

                  table {
                    border: none;
                    font-size: 1em;
                  }

                  .wc-proceed-to-checkout {
                    a.checkout-button {
                      background: #ff7003;
                      padding: 13px;
                      height: 45px;
                      border-radius: 23px;
                      margin-bottom: 0;
                      transition: all 0.3s;

                      &:hover {
                        background: #72a700;
                      }
                    }
                  }
                }
              }
            }

            p {
              &.cart-empty {
                background: #fff;
                padding: 20px;
                margin-bottom: 0;
                font-weight: 600;
                border-radius: 8px;
              }

              &.return-to-shop {
                right: 11px;
                top: 11px;
                margin: 0;
                position: absolute;

                a.button.wc-backward {
                  color: #fff;
                  background-color: #f27121;
                  border-radius: 8px;
                  transition: all 0.3s;
                  padding: 15px;

                  &:hover {
                    box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.1);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
*/

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  body.woocommerce-cart {
    .wrap {
      .content {
        .container-fluid {
          main.main {
            .woocommerce {
              .row {
                .woocommerce-cart-form {
                  .shop_table {
                    background: #fff;
                    border-radius: 8px;
                    border: none;
                    padding: 20px;

                    tbody {
                      tr {
                        &.woocommerce-cart-form__cart-item {
                          font-size: 1em;
                          border: 1px solid #d2d2d2;
                          margin: 0 0 10px 0;
                          padding: 15px;
                          border-radius: 8px;

                          td {
                            &.product-remove {
                              position: absolute;
                              background: transparent;
                              width: 35px;

                              a.remove {
                                border: 1px solid #dadada;
                                text-align: center;
                                display: block;
                                height: 32px;
                                width: 32px;
                                margin: 0;
                                line-height: normal;
                                padding-top: 0;
                                padding-left: 1px;
                                position: absolute;
                                left: -26px;
                                top: -26px;
                                background: #fff;
                                font-size: 1.5em;
                                border-radius: 100%;
                                font-weight: 500;
                                transition: all 0.3s;
                                color: rgba(15, 15, 15, 0.85) !important;

                                &:hover {
                                  background: #fa635a;
                                  color: #fff !important;
                                  border: 1px solid #fa635a;
                                  text-decoration: none;
                                }
                              }
                            }

                            &.product-name,
                            &.product-price,
                            &.product-quantity,
                            &.product-subtotal {
                              width: 80%;
                              padding: 5px 0 5px 5px;
                              border-top: 1px solid rgb(210, 210, 210) !important;
                              background: transparent;
                              float: none;
                              text-align: right;
                              display: inline-block;
                              margin-left: 20%;
                            }

                            &.product-name {
                              border: none !important;
                            }

                            &.product-thumbnail {
                              display: flex;
                              -webkit-box-flex: 1;
                              -ms-flex-positive: 1;
                              flex-grow: 1;
                              position: absolute;
                              padding: 30px 0;
                              margin: 0;
                              width: 20%;
                              float: left;
                              border-top: 0;

                              &::before {
                                display: none;
                              }
                            }

                            &.actions {
                              background: transparent;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  body.woocommerce-cart {
    .wrap {
      .content {
        .container-fluid {
          main.main {
            .woocommerce {
              .row {
                .woocommerce-cart-form {
                  .shop_table {
                    background: #fff;
                    border-radius: 8px;
                    border: none;
                    padding: 15px;

                    tbody {
                      tr {
                        display: block;
                        float: right;

                        &.woocommerce-cart-form__cart-item {
                          width: 100%;
                          padding: 5px 10px;
                        }

                        td {
                          &.product-name,
                          &.product-price,
                          &.product-quantity,
                          &.product-subtotal {
                            width: 80%;
                            padding: 5px;
                            float: right;
                            text-align: right;
                            display: block;
                            background: transparent;
                            border-top: 1px solid #d2d2d2 !important;
                            margin-left: 0;
                          }

                          &.product-thumbnail {
                            padding: 10px;
                            max-width: 100%;
                            position: relative;
                            background: transparent;
                            display: block;
                            width: 20%;

                            &::before {
                              display: none;
                            }
                          }

                          &.actions {
                            background: transparent;
                          }

                          &.product-name {
                            border-top: none;
                          }
                        }

                        &.component_table_item,
                        &.ywcp_component_child_item {
                          background: transparent;

                          td.product-name {
                            .component_table_item_indent {
                              padding: 0;

                              dl.component {
                                width: 75%;
                              }
                            }
                          }

                          &:nth-child(2n) {
                            background: #f1f1f1;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
