form {
  &.cart.ywcp {
    .ywcp_components_single_item {
      float: left;
      width: 100%;
      margin: 0;
    }

    .ywcp_wcp_group_total {
      background: #fff;
      float: left;
      width: 100%;
      border: 1px solid #d2d2d2;
      border-radius: 4px;
      padding: 10px;
      margin: 0 0 15px 0;

      table {
        width: 100%;

        tr {
          border-bottom: 1px solid #d2d2d2;
          padding: 2px;

          &#ywcp_wcp_tr_order_total {
            font-weight: 700;
          }

          &:last-child {
            border-bottom: none;
          }

          td {
            padding: 5px;
          }
        }
      }
    }

    .ywcp_customer_advice {
      padding: 10px;
    }

    .ywcp_component_options_selection_container {
      position: relative;
      box-shadow: none;
      background-color: #fff;
      border-radius: 4px;
      border: 1px solid rgba(31, 37, 50, 0.3);

      .product {
        display: flex;

        .ywcp_image_container.images {
          border: none;

          img {
            width: 100%;
            margin-bottom: 0;
            display: inline-block;
            float: left;
          }
        }

        .ywcp_product_info {
          padding: 0 20px 0 0;
          float: left;

          .ywcp_product_title {
            font-size: 1em;
            font-weight: 600;
            margin-bottom: 3px;
          }

          .ywcp_product_link {
            bottom: 15px;
            right: 11px;
            font-size: 0.9em;
          }

          .ywcp_product_price {
            bottom: 15px;

            del {
              font-weight: 400;
              float: none;
              font-size: 0.9em;
              margin: 0 0 0 7px;
            }

            ins {
              font-weight: 600;
              float: left;
              text-decoration: none;
            }
          }
        }
      }
    }

    a.ywcp_selection_clear {
      background-color: transparent;
      padding: 5px;
      height: 30px;
      width: 30px;
      text-decoration: none;
      box-shadow: none;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 4px;
      color: #fff;
      text-indent: -9999px;
      background-image: url("../images/cancel-orange.svg");
      background-position: 9px;
      background-size: 13px;
      margin: 5px 15px 0 0;
      right: 0;
      position: absolute;
      text-transform: uppercase;
      transition: all 0.25s;

      &:hover {
        background-image: url("../images/cancel-white.svg");
        background-color: #f66900;
      }
    }

    .ywcp_component_options_list_container {
      .ywcp_component_otpions_thumbnails_container {
        .products {
          li {
            clear: both;
            display: flex;
            width: 100%;
            border-radius: 4px;
            background: #fff;
            padding: 10px;
            border: 1px solid #e8e8e8;
            margin-bottom: 10px;
            cursor: pointer;

            .ywcp_image_container {
              width: 60px;

              img {
                border-radius: 8px;
              }
            }

            .ywcp_product_info {
              height: 100%;

              .ywcp_product_title {
                font-size: 1em;
                font-weight: 600;
                margin-bottom: 5px;
              }

              .ywcp_product_price {
                display: block;

                del {
                  font-weight: 400;
                  float: none;
                  font-size: 0.9em;
                  margin: 0 0 0 7px;
                }

                ins {
                  font-weight: 600;
                  float: left;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }

    .ywcp_components_container {
      float: left;

      h3 {
        margin: 0 0 10px 0;
        border-radius: 4px;
        position: relative;
        background: #fff;
        text-transform: none;
        border: 1px solid rgba(31, 37, 50, 0.3);
        padding: 12px;
        color: rgba(31, 37, 50, 0.7);
        transition: all 0.25s;

        a {
          &.ywcp_selection_close {
            box-shadow: none;
            position: absolute;
            margin: -2px 10px 0 0;
            right: 0;
            color: #f26900;
          }

          &.ywcp_selection_open {
            box-shadow: none;
            position: absolute;
            margin: -2px 10px 0 0;
            right: 0;
          }
        }

        &:hover {
          border: 1px solid #f26900;
          background: #f26900;
          color: #fff;

          a {
            &.ywcp_selection_close {
              color: #fff;
            }

            &.ywcp_selection_open {
              color: #fff;
            }
          }
        }

        abbr {
          margin-left: 10px;
          font-size: 0.8em;
          font-weight: 400;
          text-decoration: none;
        }
      }

      .ywcp_component_subtotal {
        padding: 5px;
      }
    }

    .yith_wapo_groups_container {
      float: none;
    }
  }
}
