body.woocommerce,
body.woocommerce-cart,
body.woocommerce-account,
body.woocommerce-checkout,
body.single.single-product {
  background-image: linear-gradient(to bottom, rgb(248, 248, 248) 0, rgba(25, 152, 185, 0.1) 959px);

  .wrap {
    padding-top: 0;

    .content {
      .container-fluid {
        .main {
          .content-area {
            position: relative;
          }
        }
      }
    }
  }

  &::after {
    background-image: url("../images/bg-top.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: "";
  }

  .woocommerce-breadcrumb {
    font-size: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
  }
}

body.woocommerce.single {
  .star-rating {
    margin: 5px 5px 5px 0;

    span {
      color: #ff7003;
    }
  }

  div.product-type-external {
    .entry-summary {
      form.cart {
        margin: 15px 0 10px 0;

        button.single_add_to_cart_button {
          width: 100%;
          height: 45px;
        }
      }
    }
  }

  div.product {
    .woocommerce-breadcrumb {
      font-size: 0.85em;
    }

    .onsale {
      background: #ff7003;
      padding: 3px 8px;
      border-radius: 8px;
      position: absolute;
      width: auto;
      font-size: 0.75em;
      font-weight: 600;
      left: auto;
      right: 0;
      box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.1);
      margin: -5px -10px;
      color: #fff;
    }

    .entry-summary {
      max-height: none;
      float: right;
      margin-bottom: 15px;
      width: 57%;
      background: #fff;
      border-radius: 8px;
      padding: 15px;

      .woocommerce-product-details__short-description {
        padding: 0;
        margin-bottom: 15px;
        margin-top: 15px;
        font-size: 0.9em;
        color: rgba(17, 17, 17, 0.9);
        line-height: 19px;

        p {
          padding: 0;
          margin: 15px 0;
        }

        ul {
          display: block;
          margin-top: 10px;
          margin-left: 0;
          padding: 0 25px;

          li {
            padding: 2px;
          }
        }
      }

      h1 {
        &.product_title.entry-title {
          font-size: 1.4em;
          line-height: 30px;
          margin: 0 0 10px 0;
          width: 100%;
          color: #1f1f32;
          border: 0 none;
        }
      }

      .summary {
        padding: 10px;
      }

      .price {
        margin-bottom: 5px;

        span.from {
          color: rgba(0, 0, 0, 0.7);
          font-size: 0.9em;
          font-weight: 600;
          padding-right: 5px;
        }

        del {
          opacity: 1;
          font-size: 0.9em;
          padding-right: 10px;
          display: inline-block;

          span.woocommerce-Price-amount.amount {
            position: relative;

            &::after {
              display: block;
              position: absolute;
              width: 100%;
              height: 0.1em;
              top: 50%;
              left: 0;
              content: "";
              z-index: 2;
              background: none;
              text-shadow: transparent;
              background-image: radial-gradient(#ff4136 70%, transparent 0);
              transform: rotate(-14deg) scaleX(1.2);
            }
          }
        }

        .woocommerce-Price-amount {
          font-size: 28px;
          font-size: 1.3em;
          white-space: nowrap;
          color: rgba(0, 0, 0, 0.7);
          font-weight: 700;
          display: inline-block;
          line-height: 1;
        }
      }

      .you_save_price {
        color: #fe7004;
        margin: 10px 0 0 0;
        font-weight: 700;

        .save_prefix {
          margin-right: 2px;
        }

        .save_price {
          margin-left: 2px;
        }
      }

      form.cart {
        display: block;
        margin: 15px 0;

        .quantity {
          width: 15%;
          margin: 0;
          max-width: 100px;

          input {
            padding: 12px;
            width: 100%;
            height: 45px;
            border: 1px solid #ddd;
          }
        }

        .price {
          .woocommerce-Price-amount {
            font-size: 28px;
            font-size: 1.3em;
            white-space: nowrap;
            color: #3f4c58;
            font-weight: 700;
            display: inline-block;
            line-height: 1;
          }
        }

        .single_add_to_cart_button {
          display: block;
          width: 80%;
          padding: 15px;
          height: 45px;
          cursor: pointer;
          border-radius: 5px;
          border: 1px solid #ff7003;
          font-weight: 600;
          margin: 0;
          background: #ff7003;
          color: #fff;
          text-align: center;
          transition: all 0.25s;

          svg {
            visibility: hidden;
            height: 0;
          }

          &.button {
            float: right;

            &.loading {
              opacity: 0.55;

              &::after {
                content: "";
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                right: 10px;
                width: 23px;
                height: 23px;
                margin-top: -12px;
                margin-left: -12px;
                border-radius: 50%;
                border: 5px solid #fff;
                border-top-color: #f66900;
                animation: spinner 0.6s linear infinite;
              }
            }

            &.added {
              svg {
                &.checkmark {
                  visibility: visible;
                  width: 27px;
                  height: 27px;
                  border-radius: 50%;
                  display: block;
                  stroke-width: 5;
                  stroke: #60a74f;
                  stroke-miterlimit: 10;
                  position: absolute;
                  top: 8px;
                  right: 8px;
                  margin: 0;
                  box-shadow: inset 0 0 0 #fff;
                  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;

                  circle {
                    &.checkmark__circle {
                      stroke-dasharray: 166;
                      stroke-dashoffset: 166;
                      stroke-width: 4;
                      stroke-miterlimit: 10;
                      stroke: #fff;
                      fill: none;
                      animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
                    }
                  }

                  path {
                    &.checkmark__check {
                      transform-origin: 50% 50%;
                      stroke-dasharray: 48;
                      stroke-dashoffset: 48;
                      animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
                    }

                    @keyframes stroke {
                      100% {
                        stroke-dashoffset: 0;
                      }
                    }

                    @keyframes scale {
                      0%,
                      100% {
                        transform: none;
                      }

                      50% {
                        transform: scale3d(1.1, 1.1, 1);
                      }
                    }

                    @keyframes fill {
                      100% {
                        box-shadow: inset 0 0 0 30px #fff;
                      }
                    }
                  }
                }
              }

              &::after {
                visibility: hidden;
              }

              &:hover {
                background: #ff7003;
                border: 1px solid #ff7003;
              }
            }
          }

          &:hover {
            box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.1);
            background: #72a700;
            border-color: #72a700;
          }
        }

        .added_to_cart.wc-forward {
          width: 80%;
          float: right;
          text-align: center;
          border-radius: 8px;
          height: 45px;
          padding: 13px;
          margin-top: 15px;
          background: #f4f4f4;
          display: none;
        }

        .tinv-wraper.tinvwl-after-add-to-cart {
          .tinvwl_add_to_wishlist_button {
            color: #ff7003;
            width: 100%;
            background: transparent;
            border: 1px solid #d2d2d2;
            height: 45px;
            float: left;
            margin-top: 20px;
            display: block;
            border-radius: 8px;
            padding: 11px;
            text-decoration: none;
            transition: all 0.3s;
            text-align: center;
            font-family: inherit;
            font-size: 0.9em;

            &::before {
              color: ff7003;
            }

            &:hover {
              background: #ff7003;
              border-color: #ff7003;
              color: #fff;

              &::before {
                color: #fff;
              }
            }
          }
        }
      }
    }

    .product_meta {
      font-size: 0.9em;
      border: 1px solid #e2e2e2;
      background: #fff;
      border-radius: 8px;
      margin: 0;
      float: left;
      width: 100%;

      .posted_in {
        display: block;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        width: 100%;
        font-weight: 500;

        a {
          font-weight: 400;
          padding: 0 3px;
        }
      }

      .tagged_as {
        display: block;
        width: 100%;
        font-weight: 500;

        a {
          font-weight: 400;
          padding: 0 3px;
        }
      }
    }
  }

  .woocommerce-Tabs-panel--reviews {
    float: left;
    padding: 20px;
    width: 100%;

    #reviews {
      width: 100%;
      float: left;

      #comments {
        width: 100%;
        margin: 0;
        padding: 0;
        background: transparent;

        .commentlist {
          padding: 0;

          li {
            .comment_container {
              padding: 0;
              position: relative;

              img.avatar {
                height: 60px;
                width: 60px;
                z-index: 1;
                position: absolute;
                border: 3px solid #b8dde6;
                border-radius: 100%;
                top: 20px;
                left: 15px;
              }

              .comment-text {
                margin: 0;
                border: 1px solid #ddd;
                border-radius: 8px;
                background: #fff;
                padding: 20px;

                .meta {
                  padding-left: 65px;
                  background: transparent;
                  top: 0;
                  border-radius: 8px;
                  padding-top: 7px;
                  height: 60px;
                  width: 100%;
                  margin: 0;

                  time {
                    display: block;
                  }
                }

                .description {
                  display: block;

                  .reply.review-actions {
                    padding: 10px 0 0;
                  }
                }
              }
            }
          }
        }
      }

      #review_form_wrapper {
        top: 0;
        right: 0;
        width: 100%;
        float: left;
        margin-top: 0;
        background: #f8fbfd;
        border-radius: 8px;
        padding: 20px;

        #review_form {
          #respond {
            h3.comment-reply-title {
              font-size: 15px;
              font-weight: 600;
              line-height: 1;
              text-transform: inherit;
              display: block;
              margin: 13px 0 19px;
              color: rgba(0, 0, 0, 0.7);
            }

            .must-log-in {
              display: block;
            }

            form {
              .form-submit {
                #submit {
                  color: #fff;
                  border-radius: 8px;
                  background-color: #fe7004;
                  transition: all 0.3s;

                  &:hover {
                    box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.1);
                    background-color: #fe7004;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }

    #ywar_reviews {
      width: 100%;

      #reviews_summary {
        width: 50%;

        .reviews_bar {
          .ywar_review_row {
            a.ywar_filter_reviews {
              span {
                &.ywar_rating_bar {
                  span.ywar_scala_rating {
                    span.ywar_perc_rating {
                      border-radius: 8px;

                      span.ywar_perc_value {
                        position: absolute;
                        right: 0;
                        left: 0;
                        color: rgba(0, 0, 0, 0.7) !important;
                        text-align: right;
                        font-size: 12px;
                        opacity: 0.6;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      #reviews_order {
        width: 100%;

        a {
          transition: all 0.25s;

          &.ywar_filter_order {
            color: rgba(0, 0, 0, 0.7);

            &:hover {
              border-bottom: 3px solid rgb(255, 112, 3);
            }

            &.active {
              border-bottom: 3px solid rgb(255, 112, 3);
            }
          }
        }
      }
    }
  }
}

/*
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
*/

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  body.woocommerce.single {
    .star-rating {
      margin: 5px 5px 5px 0;

      span {
        color: #ff7003;
      }
    }

    div.product-type-external {
      .entry-summary {
        form.cart {
          margin: 15px 0 10px 0;

          button.single_add_to_cart_button {
            width: 100%;
          }
        }
      }
    }

    .woocommerce-Tabs-panel--reviews {
      #reviews {
        width: 100%;

        #comments {
          width: 100%;

          .commentlist {
            padding: 0;
          }
        }

        #review_form_wrapper {
          width: 100%;
          padding: 20px;

          #review_form {
            #respond {
              h3.comment-reply-title {
                font-size: 15px;
                font-weight: 600;
                line-height: 1;
                text-transform: inherit;
                display: block;
                margin: 13px 0 19px;
                color: rgba(0, 0, 0, 0.7);
              }

              .must-log-in {
                display: block;
              }
            }
          }
        }
      }

      #ywar_reviews {
        width: 100%;

        #reviews_summary {
          width: 100%;
        }

        #reviews_order {
          width: 100%;

          a {
            transition: all 0.25s;

            &.ywar_filter_order {
              color: rgba(0, 0, 0, 0.7);

              &:hover {
                border-bottom: 3px solid rgb(255, 112, 3);
              }

              &.active {
                border-bottom: 3px solid rgb(255, 112, 3);
              }
            }
          }
        }
      }
    }
  }
}

/*
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}
*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  body.woocommerce.single {
    div.product-type-external {
      .entry-summary {
        form.cart {
          margin: 15px 0 10px 0;

          button.single_add_to_cart_button {
            width: 100%;
          }
        }
      }
    }

    div.product {
      .woocommerce-breadcrumb {
        font-size: 0.85em;
      }

      .entry-summary {
        width: 100%;
        background: transparent;
        padding: 0;
        margin: 0;

        .woocommerce-product-details__short-description {
          padding: 0 15px;
          background: #fff;
          border-radius: 8px;
          border: 1px solid #e2e2e2;
          margin-bottom: 15px;

          p {
            padding: 0;
            margin: 15px 0;
          }
        }

        h1 {
          &.product_title.entry-title {
            font-size: 1.1em;
            line-height: 30px;
          }
        }

        .summary {
          padding: 10px;
        }

        .price {
          .woocommerce-Price-amount {
            font-size: 1.2em;
          }
        }

        form.cart {
          display: block;
          margin-bottom: 15px;

          .quantity {
            width: 15%;
            margin: 0;
            max-width: 100px;

            input {
              padding: 10px;
              width: 100%;
            }
          }

          .price {
            .woocommerce-Price-amount {
              font-size: 1.2em;
            }
          }

          .single_add_to_cart_button {
            display: block;
            width: 80%;
            padding: 13px;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid #ff7003;
            font-weight: 600;
            margin: 0;
            background: #ff7003;
            color: #fff;
            text-align: center;
            transition: all 0.25s;

            &.button {
              float: right;
            }

            &:hover {
              box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.1);
              background: #72a700;
              border-color: #72a700;
            }
          }
        }
      }

      .product_meta {
        font-size: 0.8em;
        margin: 0 !important;
      }
    }

    .woocommerce-product-gallery.images {
      width: 100%;
      margin-bottom: 10px;
    }

    .woocommerce-Tabs-panel--reviews {
      #reviews {
        width: 100%;

        #comments {
          width: 100%;

          .commentlist {
            padding: 0;
          }
        }

        #review_form_wrapper {
          width: 100%;
          padding: 20px;

          #review_form {
            #respond {
              h3.comment-reply-title {
                font-size: 15px;
                font-weight: 600;
                line-height: 1;
                text-transform: inherit;
                display: block;
                margin: 13px 0 19px;
                color: rgba(0, 0, 0, 0.7);
              }

              .must-log-in {
                display: block;
              }
            }
          }
        }
      }

      #ywar_reviews {
        width: 100%;

        #reviews_summary {
          width: 100%;
        }

        #reviews_order {
          width: 100%;

          a {
            transition: all 0.25s;

            &.ywar_filter_order {
              padding: 5px 3px;
              font-size: 0.9em;
              margin: 0;
              font-weight: 500;
              text-align: center;

              &:hover {
                border-bottom: 3px solid rgb(255, 112, 3);
              }

              &.active {
                border-bottom: 3px solid rgb(255, 112, 3);
              }
            }
          }
        }
      }
    }
  }

  table {
    &.table-responsive-sm {
      font-size: 0.85em;
      border: none;

      tbody {
        tr {
          td {
            padding: 0.45rem;
          }
        }
      }
    }
  }
}

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (min-width: 992px) {
}
*/
