<h2>Partnered Engineering unterstützt den Weg zur marktgerechten Innovation</h2>
Strategiegetriebene Innovationen, beispielsweise um neue, attraktive Märkte zu erschließen, erfordern oft die Verbindung 
eigener und fremder Kompetenzen. Wie dies gelingen kann, zeigt die enge Zusammenarbeit eines Normelementeherstellers und eines <strong>Dichtungsspezialisten</strong>. 

<p>
   <em>KE NEXT März 2019 | KONSTRUKTION & AUTOMATISIERUNG | SCHWERPUNKT • FLUIDTECHNIK | <a target="_blank" href="https://www.ke-next.de/">www.ke-next.de</a></em>
   <p>
      Normelemente wie Griffe, Hebel, Knöpfe und Stellfüße gehören seit Jahrzehnten zum Angebot des Herstellers <a target="_blank" href="https://www.ganternorm.com/de/home" title="Otto Ganter GmbH & Co. KG Website">Otto Ganter</a>. Im Jahr 
      2015 entschloss sich der Hersteller, sein Produktportfolio um Elemente zu erweitern, die sich auch und besonders für hygienekritische Bereiche eignen. 
      Typische Einsatzbereiche sind die Herstellung oder Verarbeitung von Lebensmitteln, die Produktion von Medikamenten, 
      medizintechnischen Produkten, Farben, Lacken und andere hochreine Fertigungen. Mit dieser strategischen Entscheidung, 
      auf neue, dem Unternehmen bislang unbekannte Märkte zu gehen, stellten sich auch neue konstruktive Herausforderungen.
   </p>

   <p>
      Beginnend mit einem Stellfuß, der bislang für normale Industriemaschinen angeboten wurde, wollte der Hersteller erstmals 
      eine Variante im sogenannten Hygienic Design entwickeln. Hygienic Design bringt seinen Anwendern interessante Vorteile: 
      So verringert sich der Zeit- und Materialbedarf für regelmäßige Reinigungen stark und setzt Produktionszeit frei. Der Bedarf an Frischwasser, 
      Energie und Reinigungsmitteln sinkt ebenso wie die Abwassermenge. Insgesamt lassen sich damit die Gesamtkosten reduzieren und Ressourcen schonen. 
   </p>

   <div class="container border p-0" style="background: #f2f2f2;">
      <div class="row">
         <div class="col-lg-4 col-md-4 col-xs-6 thumb">
            <div class="p-3">
                  <img
                  src="https://bilder-dichtungen.s3-eu-west-1.amazonaws.com/knext/dichtungsloesungen-lebensmittelindustrie01.jpg"
                  alt="Durch die Kombination verschiedener Fertigungsverfahren ist eine Vielzahl von elastomeren 
                  Formteilen und Dichtungs elementen in kurzer Zeit ohne Form werkzeuge realisierbar"
                   width="100%" height="auto" class="border size-medium" />
               </a>
                  <p class="font-weight-light normal">
                     Durch die Kombination verschiedener Fertigungsverfahren ist eine Vielzahl von elastomeren Formteilen und Dichtungs elementen in kurzer Zeit ohne Form werkzeuge realisierbar 
                  </p>
            </div>
         </div>

         <div class="col-lg-4 col-md-4 col-xs-6 thumb">
            <div class="p-3">
                  <img
                  src="https://bilder-dichtungen.s3-eu-west-1.amazonaws.com/knext/dichtungsloesungen-lebensmittelindustrie02.jpg"
                  alt="Die neuen Kolbendichtungen aus X-Ecopur PS für 
  Hydraulikzylinder mit metrischen Abmessungen (MPV)...( Bild: SKF )" width="100%" height="auto"
                     class="border size-medium" />
               </a>
                  <p class="font-weight-light small">
                     Dichtungsprofil R06-axial dichtender V-Ring für Rotationsanwendungen 
               </a>
            </div>
         </div>

         <div class="col-lg-4 col-md-4 col-xs-6 thumb">
            <div class="p-3">
                  <img
                  src="https://bilder-dichtungen.s3-eu-west-1.amazonaws.com/knext/dichtungsloesungen-lebensmittelindustrie03.jpg"
                  alt="Dichtabstreifer im Hygienic Design aus ECOPUR 95A-bIFG, EU-konform " width="100%" height="auto"
                     class="border d-block w-100" />
               </a>
                  <p class="font-weight-light small">
                     Dichtabstreifer im Hygienic Design aus ECOPUR 95A-bIFG, EU-konform </p>
            </div>
         </div>

      </div>
   </div>


   <p>
      <p></p>
      Die rechtlichen Grundlagen von Hygienic-Design Produkten sind in der EN 1672-2:2009 Nahrungsmittelmaschinen und anderen Normen 
      bereits genau definiert. Laut der Maschinenrichtlinie 2006/42/EG müssen Maschinen so konstruiert sein, dass „Materialien vor jeder 
      Benutzung leicht und vollständig gereinigt werden können und kein Risiko von Infektionen, Krankheiten oder Ansteckungen entsteht.“ 
      Für Normelemente im Hygienic Design kommen daher nur rostfreie Edelstähle sowie lebensmittelkonforme Dichtungsmaterialien infrage. 
      Während alle Oberflächen reinigungsfähig sein müssen, dürfen durch Dichtungen und O-Ringnuten keine Spalte entstehen, in denen sich 
      Verunreinigungen ablagern könnten. 
      <br><br>
      Den Produktentwicklern von <a target="_blank" href="https://www.ganternorm.com/de/home" title="Otto Ganter GmbH & Co. KG Website">Ganter</a> war von Anfang an bewusst, dass die künftige Produktfamilie für einen erfolgreichen Markteintritt 
      FDA konform gestaltet und von der European Hygienic Engineering & Design Group (EHEDG) und 3-A Sanitary zertifiziert werden musste. 
      Der Normelementehersteller hatte früh eigene Vorstellungen über die dichtungstechnischen Anforderungen seiner künftigen Produktreihe 
      entwickelt. Neben der FDA-Konformität sollten die verwendeten Dichtungswerkstoffe über eine gute Langzeit-Formstabilität und Beständigkeit 
      gegenüber den verbreiteten Reinigungsmedien verfügen. 
      
   </p>


<figure class="alignleft p-4 border mb-5"  style="background: #f2f2f2;">
         <img
            src="https://bilder-dichtungen.s3-eu-west-1.amazonaws.com/knext/aufmacher-stellfuss-gn20-6a8dfd58.jpg"
            alt="Der Stellfuß GN 20 mit blauen Dichtungen: Die Enwicklung erfolgte in iterativen Schritten. Dadurch konnten auch zuerst übersehene Axialspiele berücksichtigt und alle Varianten immer wieder von Ganter modifiziert werden."
            width="100" height="auto" class="size-medium noborder" />
      <figcaption class="wp-caption-text">
            Der Stellfuß GN 20 mit blauen Dichtungen: Die Enwicklung erfolgte in iterativen Schritten. Dadurch konnten auch zuerst übersehene Axialspiele berücksichtigt und alle Varianten immer wieder von Ganter modifiziert werden. 
      </figcaption>
</figure>
<h2><a target="_blank" href="https://www.skf.com/de/products/seals/index.html?alias=www.skf.de/dichtungen" title="SKF Economos">SKF Economos</a> Dichtungstechnik für die Lebensmittelindustrie</h2>
<ul>
   <li>
   <strong><a target="_blank" href="https://www.skf.com/de/products/seals/index.html?alias=www.skf.de/dichtungen" title="SKF Economos">SKF Economos</a></strong> bietet erstmals einen hochwertigen Dichtungswerkstoff auf PU Basis an, der die strengen Anforderungen 
   EC 1935/2004 erfüllt
   </li>

   <li>
   <strong>Der blaue Dichtungswerkstoff</strong> Ecopur 95A-bl FG ist auch FDA-konform. Mit dem Material können <strong>Abstreifer</strong>, <strong>Rotations-</strong>, <strong>Kolben-</strong> und <strong>Stangendichtungen</strong>
   für die Fleischverarbeitung sowie sehr wider standsfähige Dichtelemente für die Getränke-, Milch- und Schokoladenindustrie gefertigt werden.
   </li>

   <li>
   <strong>Ecopur 95A-bl FG</strong> verfügt über eine hohe Verschleiß- und Reißfestigkeit sowie über einen niedrigen
   Druckverformungsrest in einem Temperaturspektrum von -50 bis +110 Grad Celsius.
   </li>

   <li>
   <strong>Die PU-Dichtungswerkstoffe</strong> des Herstellers verfügen darüber hinaus über eine gute
   Resistenz gegenüber Reinigungsmedien wie beispielsweise dreiprozentiger Natronlauge
   bis 85 Grad Celsius.
   </li>

   <li>
   <strong>Der Dichtungsspezialist</strong> bietet ein breites Spektrum an Werkstoffen für lebensmitteltechnische
   Anwendungen an, darunter Elastomere, PTFE und Compounds sowie Thermoplaste 
   und verschiedene weitere Spezial materialien. Zu den lieferbaren Konformitäten gehören unter 
   anderem FDA S 177.2600, CFR 21, USA, EC 1935/2004, EC 10/2011 (EC 2002/72) oder BfRXXI/4 (XXXIX/1) 
   BGA.
   </li>

   <li>
      <strong>Dank des SKF-Seal-Jet-Fertigungsverfahrens</strong> lassen sich Dichtungslösungen aus dafür geeigneten 
   Werkstoffen spanend oder auch als gespritzte Großserien herstellen. 
   </li>
</ul>


   <p>
      Außerdem sollten sie in der Farbe Blau erhältlich sein, 
      da blau in Lebensmitteln und dessen Bestandteilen so gut wie nicht vorkommt, sodass Verschmutzungen besonders leicht erkannt und 
      beseitigt werden können. Im Frühjahr 2015 lernte der Normelementehersteller auf der Anuga foodtech mit <a target="_blank" href="https://www.skf.com/de/products/seals/index.html?alias=www.skf.de/dichtungen" title="SKF Economos">SKF Economos</a> Deutschland 
      einen <strong>Dichtungsspezialisten</strong> kennen, der nicht nur über die passenden Werkstoffe verfügte, sondern auch über einen Partnered Engineering 
      Ansatz basierend auf einem hochflexiblen Fertigungsverfahren. Anfang 2016 startete das gemeinsame Projekt.Damit Unternehmen gemeinsam 
      erfolgreich innovieren können, müssen sich nicht nur Produkte oder Leistungen ergänzen – entscheidend ist, dass alle Partner ihre 
      Aufgaben verstehen und miteinander eng und vertrauensvoll kommunizieren. Das war hier der Fall. 
   </p>


   <div class="border container mt-4 mb-4" style="background: #f2f2f2;">
         <div class="row center-block">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 thumb center-block p-4">
                     <img
                     src="https://bilder-dichtungen.s3-eu-west-1.amazonaws.com/knext/nicolai-siconolfi-1.jpg"
                     alt=""
                      width="100%" height="auto" class="border size-medium" />
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 thumb center-block">
                  <p class="font-weight-light normal">
                  <em>„Durch die partnerschaftliche und enge Zusammenarbeit war es uns möglich, gemeinsam mit dem Kunden eine maßgeschneiderte, 
                  anwendungsspezifische Lösung zunächst als Prototyp zu entwickeln und diese schließlich als Serienteil umzusetzen.“</em>
                  <br> <br>
                  Nicolai Siconolfi, <a target="_blank" href="https://www.skf.com/de/products/seals/index.html?alias=www.skf.de/dichtungen" title="SKF Economos">SKF Economos</a> Deutschland
               </p>
            </div>
            </div>
   </div>

      <h2>Partnered Engineering</h2>
      <a target="_blank" href="https://www.ganternorm.com/de/home" title="Otto Ganter GmbH & Co. KG Website">Ganter</a> und <a target="_blank" href="https://www.skf.com/de/products/seals/index.html?alias=www.skf.de/dichtungen" title="SKF Economos">SKF Economos</a> arbeiteten von Anfang an Hand in Hand und tauschten fortwährend ihre Ideen, Informationen und Ergebnisse aus. 
      So entstand Schritt für Schritt die marktreife Lösung. Zunächst präsentierte Ganter seinem Entwicklungspartner einen Prototyp des neuen Stellfußes. 
      <a target="_blank" href="https://www.skf.com/de/products/seals/index.html?alias=www.skf.de/dichtungen" title="SKF Economos">SKF Economos</a> glich die erforderlichen Anwendungsparameter mit seiner umfangreichen, selbstentwickelten Werkstoffbasis ab und beriet 
      seinen Partner zu den EU-Regularien. Über die erforderliche Resistenz gegenüber den in der Praxis verwendeten CIP- Reinigungschemikalien 
      und die gewünschten physikalischen Eigenschaften ließ sich so schnell Klarheit gewinnen. 
   <br><br>
      Das von <a target="_blank" href="https://www.ganternorm.com/de/home" title="Otto Ganter GmbH & Co. KG Website">Ganter</a> gemeinsam mit einem FDA- konformen 
      HNBR-Werkstoff gewählte <strong>Ecopur-95A-bl FG</strong> ist nicht nur FDA-konform, sondern erfüllt auch die strengeren Anforderungen der EU-Richtlinie EC 1935/2004. 
      Das blaue Material ist gegenüber Wasser und CIP-Lösungen bis circa 60 Grad Celsius beständig und verfügt über eine hohe Langzeit-Formstabilität - 
      Eigenschaften, die es zum idealen Bestandteil von Hygienic-Design-Lösungen machen. Beide Werkstoffe lassen sich an den CNC-Maschinen des 
      Dichtungs- herstellers spanend bearbeiten oder spritzgießen. 


      <div class="border container mt-4 mb-4" style="background: #f2f2f2;">
            <div class="row center-block">
               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 thumb center-block p-4">
                              <img
                              src="https://bilder-dichtungen.s3-eu-west-1.amazonaws.com/knext/uwe-klotz-1.jpg"
                              alt="Die neuen Kolbendichtungen aus X-Ecopur PS für 
               Hydraulikzylinder mit metrischen Abmessungen (MPV)...( Bild: SKF )" width="100%" height="auto"
                                 class="border size-medium" />
               </div>
               <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 thumb center-block">
               <p class="font-weight-light normal">
               <em>„Die enge, zukunftsgerichtete Zusammenarbeit mit einem kompetenten Partner war uns sehr wichtig.
               Vor allem mit einem Partner, der nicht nur Lieferant, sondern auch Mitgestalter ist.“</em><br><br>
               Uwe Klotz, <a target="_blank" href="https://www.ganternorm.com/de/home" title="Otto Ganter GmbH & Co. KG Website">Otto Ganter</a></p>
               </div>
            </div>
         </div>

      Um die Bandbreite seiner Fertigungsmöglichkeiten zu benennen, 
      spricht <a target="_blank" href="https://www.skf.com/de/products/seals/index.html?alias=www.skf.de/dichtungen" title="SKF Economos">SKF Economos</a> von einem Machined-to moulded-Konzept, das sein selbst entwickeltes Seal-Jet- Verfahren ermöglicht. 
      Die charakteristischen Vorteile bestehen in der schnellen und kostengünstigen Verfügbarkeit von einsatzfähigen Prototypen und der Skalierbarkeit von Losgröße eins bis zu beliebigen Serienmengen sowie auch 
      Überführung in das Spritzgießverfahren. Ideale Voraussetzungen für Zertifizierungsverfahren. 


<p>
   <h2>Optimierte Geometrien </h2>
   Dichtungen, die an den Anschraubbereichen der Normelemente eingesetzt werden, 
   haben die Aufgabe, Toträume, Spalten und Ritzen vor dem Eindringen von Reinigungsflüssigkeiten, 
   Produktresten oder Kleinstorganismen zuverlässig zu schützen. Hierfür müssen die Einbauräume und Dichtungsquerschnitte per FEM so 
   berechnet und ausgelegt werden, dass bei der Montage die nötige Flächenpressung erreicht wird und gleichzeitig die Dichtungswerkstoffe 
   nicht überbeansprucht werden. 


   <figure class="alignleft p-4 border mb-5 mt-5" style="background: #f2f2f2;">
         <img
            src="https://bilder-dichtungen.s3-eu-west-1.amazonaws.com/knext/sortiment.jpg"
            alt="Zwei Jahre nach Projektbeginn sind einige Normelemente der Produktfamilie Hygienic Design von Ganter zertifiziert und mit dem HD-Symbol gekennzeichnet."
            width="100" height="auto" class="size-medium noborder" />
      <figcaption class="wp-caption-text">
            Zwei Jahre nach Projektbeginn sind einige Normelemente der Produktfamilie Hygienic Design von <a target="_blank" href="https://www.ganternorm.com/de/home" title="Otto Ganter GmbH & Co. KG Website">Ganter</a> zertifiziert und mit dem HD-Symbol gekennzeichnet. 
      </figcaption>
   </figure>

   <br><br>
   Die Dichtringe zur Montagefläche und die Bodendichtung werden bei der Montage durch Festziehen entsprechend dicht gespannt. 
   Dabei wird sichergestellt, dass alle mit den Dichtungen in Kontakt stehenden Flächen eine Oberflächengüte von weniger als Ra 0,8 um aufweisen. 
   Die Abstreifer an der Verstellhülse sowie die Abdichtung der Gelenkkugel sind so gestaltet, dass sie eine Anpassung in Höhe und Winkel zulassen. 
   Auch bei ihnen gewährleistet der Einbauraum zusammen mit dem Dichtungsquerschnitt eine spaltfreie, vorgespannte Abdichtung. 
   Die gefundene dreiteilige Lösung verfügt über einen Dichtring aus NBR (Härte 70 +5 Shore A), einen Abstreifer aus TPU (95+5 Shore A), einen Gelenkdichtring aus 
   H-NBR (85 +5 Shore A).
   <br><br>
   Zusätzlich besitzt der Stellfuß eine Bodendichtung aus Silikon (mit 85 +5 Shore A). 
   Bis auf diese wurden alle Dichtelemente während der gedrehten Bemusterungsphase Zehntel für Zehntel millimeterweise an den Stellfuß angepasst. 
   Bei diesen iterativen Entwicklungsschritten konnten auch zuerst übersehene Axialspiele berücksichtigt und alle Varianten 
   immer wieder von <a target="_blank" href="https://www.ganternorm.com/de/home" title="Otto Ganter GmbH & Co. KG Website">Ganter</a> modifiziert werden. 
</p>


<div style="background: #f2f2f2;
padding: 10px;">
<ul>
   <h2>Über das Unternehmen <a target="_blank" href="https://www.ganternorm.com/de/home" title="Otto Ganter GmbH & Co. KG Website">Ganter</a> </h2>
   <li>
   Bereits 1912 stellte das damalige Handwerksunternehmen den ersten Normelementekatalog vor - 
   fünf Jahre vor der Gründung der Deutschen Industrie Norm (DIN).
   </li>

   <li>
   Heute ist das mittlerweile in vierter Familiengeneration geführte Unternehmen mit 
   weit über 60.000 ab Lager lieferbaren Artikeln 
   führend in Entwicklung, Vertrieb und Herstellung von Normelementen. 
   </li>
</ul>
<table class="table-bordered table-bordered mt-3 mb-3" style="width: 100%;">
   <tbody>
      <tr>
         <td style="padding: 5px;"><strong>Markt</strong></td>
         <td style="padding: 5px;"><strong>Zusammenarbeit</strong></td>
         <td style="padding: 5px;"><strong>Produkt</strong></td>
      </tr>
   <tr>
      <td style="padding: 5px;">Nutzen</td>
      <td style="padding: 5px;">Partnerschaft</td>
      <td style="padding: 5px;">Idee</td>
   </tr>
   
   <tr>
      <td style="padding: 5px;">Marktgerechte Produktauslegung</td>
      <td style="padding: 5px;">Intresse</td>
      <td style="padding: 5px;">Vorentwicklung</td>
   </tr>
   
   <tr>
      <td style="padding: 5px;">Individuell</td>
      <td style="padding: 5px;">Geschwindigkeit</td>
      <td style="padding: 5px;">Kosten</td>
   </tr>
   
   <tr>
      <td style="padding: 5px;">Kopierschutz</td>
      <td style="padding: 5px;"></td>
      <td style="padding: 5px;">Musterauftrag Pilotserie Serienauftrag</td>
   </tr>
   <tr>
      <td>Dialog und fachliche Beratung</td>
   </tr>
</tbody>
   </table>
   
   Beim Partnered Engineering ist entscheidend, dass alle miteinander vertrauensvoll kommunizieren. 
   Ganter und <a target="_blank" href="https://www.skf.com/de/products/seals/index.html?alias=www.skf.de/dichtungen" title="SKF Economos">SKF Economos</a> 
   arbeiteten von Anfang an Hand in Hand und tauschten fortwährend ihre Ideen, 
   Informationen und Ergebnisse aus. 
</div>


<figure class="alignleft p-4 border mb-5 mt-5"  style="background: #f2f2f2; width: 100%;">
      <img
         src="https://bilder-dichtungen.s3-eu-west-1.amazonaws.com/knext/stellfuss-skizze.jpg"
         alt="Die Zeichnung zeigt die Lage der Dichtelemente im Stellfuß GN 20. "
         width="100" height="auto" class="size-medium noborder" />
   <figcaption class="wp-caption-text">
         Die Zeichnung zeigt die Lage der Dichtelemente im Stellfuß GN 20. 
   </figcaption>
</figure>

   </p>
   <h2>Schritt für Schritt zur Lösung </h2>
   Dabei wurde auch der Vorschlag des <strong>Dichtungsspezialisten</strong> umgesetzt, die Abdichtungswirkung durch scharfkantig geformte Dichtlippen nochmals zu erhöhen. 
   Bei der abschließenden Grenzwertbemusterung wurden die für die gespritzte Serie erforderlichen Toleranzen simuliert, 
   indem die Grenzen jeweils nach oben und unten zunächst überschritten wurden, um einen technisch realisierbaren Mittelwert zu erzielen. 
   Nach der Bemusterung aus dem Werkzeug konnte <a target="_blank" href="https://www.ganternorm.com/de/home" title="Otto Ganter GmbH & Co. KG Website">Ganter</a> 
   die gefundene Komplettlösung freigeben und einen Prototypen seines Stellfußes GN 20 
   der EHEDG und 3-A Sanitary zur Prüfung und Zertifizierung vorlegen. 
   <br><br>

   Die anschließende Serienproduktion im Spritzgießverfahren verlief dank der 
   sorgfältigen Grenzwertbemusterungen problemlos und ohne Qualitätsverlust. 
   Zwei Jahre nach Projektbeginn sind alle Normelemente der Produktfamilie Hygienic Design von <a target="_blank" href="https://www.ganternorm.com/de/home" title="Otto Ganter GmbH & Co. KG Website">Ganter</a> zertifiziert und mit dem HD-Symbol gekennzeichnet. 
   Stellfüße, Griffe, Klemmhebel, Muttern und Schrauben des neu entwickelten Sortiments verfügen sämtlich über eine hohe Oberflächengüte, Totraumfreiheit, 
   nichtschöpfende Außenflächen und perfekt gedichtete Anschraubbereiche. 
   <br><br>
   Übrigens: Für beschädigte oder im Zuge präventiver Wartung auszutauschender Dichtungen 
   bietet <a target="_blank" href="https://www.ganternorm.com/de/home" title="Otto Ganter GmbH & Co. KG Website">Ganter</a> das 
   Ersatzteil GN 7600 an.
   <p>
   </p>
   <a target="_blank" href="https://skf-sonderdrucke.s3-eu-west-1.amazonaws.com/ke-next-20190627061206690.pdf" target="_blank" rel="noopener noreferrer">Den Artikel gibt es als Download über diesen Link</a>
   <p></p>